body {
  font-family: "Inter", "system-ui" !important;
  color: var(--dark);
  background-color: var(--light);
}

a {
  color: #555;
}

.app-header {
  border-color: var(--border);
}

#formBuilder .card {
  margin-bottom: 0;
}

.formbuilder .card-header {
  padding: 0.5rem;
}

.formbuilder .card {
  margin-bottom: -1px;
}

.card {
  border-color: var(--border);
}

.card .dropzone2 {
  margin: 0 0 60px;
  border: 4px dashed #c8ced3;
  background: #f0f3f5;
  height: auto;
  font-size: 2rem;
  color: #73818f;
  text-align: center;
  padding: 20px;
}

.card .dropzone2 span {
  font-size: 2rem;
}

.field-types-list button {
  margin: 0 12px 12px 0;
}

.field-types-list button i.fa {
  margin: 0 6px 0 0;
}

.field-types-list h2 {
  margin: 30px 0 20px 0;
}

.btn {
  border-color: var(--border-button);
}

.hide {
  display: none;
}

#newContentModal .btn {
  margin: 0 10px 10px 0;
}

.green {
  color: #4dbd74;
}

.red {
  color: #f86c6b;
}

.add-node {
  margin: 20px 0 0;
}

.menu-edit-right {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.image-module-wrapper .form-control {
  height: 114px;
}

.image-module-list-item .img {
  height: 106px;
  margin: 0 0 6px 0;
  display: block;
  float: left;
}

.image-module-list-item .img img {
  height: 100px;
  float: left;
  margin: 0;
  padding: 0;
}

.image-module-list-item .name {
  float: left;
  margin: 37px 0 0 20px;
}

.image-module-wrapper .choices__list--dropdown .choices__item {
  height: 120px;
}

.tab-content {
  margin-bottom: 1.5rem;
}

.admin-media-list .thumbnail {
  min-height: 60px;
}

.admin-media-list .btn-media-delete {
  position: absolute;
  right: 20px;
  top: 6px;
  cursor: pointer;
}

.dropzone2 span {
  font-size: 0.7rem !important;
  display: block;
}

.sidebar .nav-link i {
  display: inline-block;
  width: 1.09375rem;
  margin: 0 0.5rem 0 0;
  font-size: 0.875rem;
  color: var(--dark);
  text-align: center;
  margin: 0 8px 0 8px;
}

.sidebar .nav-link.active i {
  color: #fff !important;
}

.submit-alert {
  padding: 9px 1rem 12px;
  margin: 0 0 0 12px;
}

.submit-alert span:first-of-type {
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.sidebar {
  background-color: #fff;
  border-right: 1px var(--border) solid;
}

.sidebar .nav-link {
  color: var(--dark);
}

.sidebar .sidebar-minimizer {
  background-color: var(--light);
}

.sidebar .nav-link:hover,
.sidebar .nav-link:hover i {
  color: #fff;
  background: #3a4248;
}

.breadcrumb {
  border-color: var(--border);
}

.card-header {
  background-color: #fff;
  border-bottom: none;
  font-size: 1.3rem;
  letter-spacing: -0.055em;
  font-weight: 500;
  padding: 2rem;
}

table,
table th,
.table td,
.table th,
.table td {
  border-color: var(--border);
}

.table th:first-of-type,
.table td:first-of-type,
.table th:last-of-type,
.table td:last-of-type {
  padding: 0.75rem 2rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: var(--light);
}

.page-item.active .page-link {
  color: #fff;
  background-color: var(--dark);
  border-color: var(--dark);
}

.page-link {
  color: var(--dark);
  background-color: #fff;
  border: 1px solid #c8ced3;
}

.main .container-fluid {
  padding: 0 10px;
}

.table {
  color: var(--dark);
}

.dataTables_wrapper .col-sm-12 {
  margin: 0 0 0;
  padding: 0 0 0;
}

.dataTables_wrapper .row:first-of-type,
.dataTables_wrapper .row:last-of-type {
  padding: 0.75rem 2rem;
}

.card-body {
  padding: 0 16px 2rem;
}

.table thead th {
  border-bottom: none;
}

.app-header .nav-item .nav-link > .img-avatar,
.app-header .nav-item .avatar.nav-link > img {
  margin: 0 2rem;
}
