
<section>
  <div class="container-fluid">
    <app-wysiwyg sectionId="fluid-1" [onSubmitHandler]="onSubmitSaveSection"></app-wysiwyg>
  </div>
</section>

<section>
  <div class="container">
    <app-wysiwyg sectionId="full-1" [onSubmitHandler]="onSubmitSaveSection"></app-wysiwyg>
  </div>
</section>

<section>
  <div class="container">
    <app-wysiwyg sectionId="full-2" [onSubmitHandler]="onSubmitSaveSection"></app-wysiwyg>
  </div>
</section>

<section>
  <div class="container">
    <app-wysiwyg sectionId="full-3" [onSubmitHandler]="onSubmitSaveSection"></app-wysiwyg>
  </div>
</section>

<section>
  <div class="container">
    <app-wysiwyg sectionId="full-4" [onSubmitHandler]="onSubmitSaveSection"></app-wysiwyg>
  </div>
</section>

<section>
  <div class="container">
    <app-wysiwyg sectionId="full-5" [onSubmitHandler]="onSubmitSaveSection"></app-wysiwyg>
  </div>
</section>

<section>
  <div class="container-fluid">
    <app-wysiwyg sectionId="fluid-2" [onSubmitHandler]="onSubmitSaveSection"></app-wysiwyg>
  </div>
</section>