/* Css File for Module: portfolio */
.portfolio img{
    max-height: 400px;
}

.portfolio img{
    max-height: 400px;
}

.portfolio p{
    font-size: 1rem;
}

.portfolio .border-none{
    border: none;
}

.portfolio .card{
    margin-bottom:12rem;
}