/* Css File for Module: image */

.image-module-wrapper .form-control {
height: 114px;
}

.image-module-list-item .img {
  height: 106px;
  margin: 0 0 6px 0;
  display: block;
  float: left;
}

.image-module-list-item .img img {
  height: 100px;
  float: left;
  margin: 0;
  padding: 0;
}

.image-module-list-item .name {
  float: left;
  margin: 37px 0 0 20px;
}

.image-module-wrapper .choices__list--dropdown .choices__item {
  height: 120px;
}
