{{!-- {{ Log "hero data:" this}} --}}
<section class="jumbotron-fluid hero no-margin" style="{{page.data.jumbotronStyle}}">
    <div class="dark-fade">
        <div class='container'>
            <div class='row'>
                <div class='col'>
                    <h1>{{page.data.name}}</h1>
                </div>
            </div>
        </div>
    </div>
</section>