<section class="jumbotron-fluid hero no-margin"
    style="background-image:url(http://localhost:3000/api/containers/container1/download/{{page.data.heroImage}})">
    <div class="dark-fade">
        <div class='container'>
            <div class='row'>
                <div class='col'>
                    <h1>{{page.data.name}}</h1>
                    {{page.data.heroImage.originalName}}
                </div>
            </div>
        </div>
    </div>
</section>