<nav class="navbar navbar-expand-md navbar-dark bg-ptrans fixed-top">
    <a class="navbar-brand" href="#">Marines POC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {{#each menu}}
            <li class="nav-item s--menu-item">
                <a class="nav-link" href="{{this.url}}">{{this.data.name}}</a>
            </li>
            {{/each}}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>