<p *ngFor="let car of cars">
  {{car.name}}
</p>
<button (click)="addCar()">Add Car</button>

<!-- <editor apiKey="ohbajg958y5zpm5nr96dz85z4k515i2d3258upwpmetjax8d" [init]="{plugins: 'link'}"></editor> -->


<textarea class="wysiwyg-content">
  Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
</textaread>

<hr>
<textarea class="content">ipsum de lot</textarea>