/* 2.9 Badges ======================================================= */

@each $color, $value in $theme-colors {
  .badge-outline-#{$color} {
    border: 1px solid;
    @include badge-outline-variant($value);
  }
}
