<section class="light-grey homepage-case-studies">
  <div class="container">
    <div class="row">
      <div class="col">

        custom section 1234 Are you in need of a website or web application?
        Let's chat, like today!
        <h2>Can Kevant save you thousands on development cost and shave months
          off your delivery time?</h2>

      </div>
    </div>
    <div class="row">

      <div class="col-md-4">
        <div class="card shadow border-0 overflow-hidden">
          <div class="overlay blue d-flex align-items-bottom justify-content-end">
            <!-- <img
            src="https://sonicjscom.s3.amazonaws.com/panasonic.png"
            class="card-img-top"
          /> -->
            Panasonc Document Managment System
          </div>
          <div class="card-body">
            <div class="light-grey rounded-pill">
              <div class="row">
                <div class="col d-flex align-items-center justify-content-end">
                  <span class="card-title-top blue">48% SAVED</span>
                </div>
                <div class="col align-middle">
                  <div style="height: 50px;">
                    <canvas id="case-chart-1"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <p class="card-text">
              Panasonic partners with Kevant to replace the compliance
              department's legacy document management portal.
            </p>

            <p class="card-text">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Internal IT Department Estimate</th>
                    <th scope="col">Actual Kevant</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Effort</th>
                    <td>1,640<small
                        class="text-muted d-block"
                      >Hours</small></td>
                    <td>853<small class="text-muted d-block">Hours</small></td>
                  </tr>
                  <tr>
                    <th scope="row">Delievery</th>
                    <td>16<small class="text-muted d-block">Weeks</small></td>
                    <td>11<small class="text-muted d-block">Weeks</small></td>
                  </tr>
                </tbody>
              </table>
            </p>

            <p class="card-text"><small class="text-muted">Last updated 3 mins
                ago</small></p>
          </div>
          <img
            src="https://sonicjscom.s3.amazonaws.com/panasonic.png"
            class="card-img-top"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow">
          <img
            src="https://sonicjscom.s3.amazonaws.com/panasonic.png"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Panasonc Document Managment System</h5>
            <p class="card-text">This is a wider card with supporting text below
              as a natural lead-in to additional content. This content is a
              little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins
                ago</small></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow">
          <img
            src="https://sonicjscom.s3.amazonaws.com/panasonic.png"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Panasonc Document Managment System</h5>
            <p class="card-text">This is a wider card with supporting text below
              as a natural lead-in to additional content. This content is a
              little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins
                ago</small></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>