<section class="homepage-technologies pb-4">
    <div class="technologies-intro">
        <div class="container"><h1>Technologies</h1>
            <p> We are Node.js experts, but building great products would not be possible without knowledge and
                extensive usage of many other things, e.g. Express, REST/GraphQL, Bootstrap/Material UI, React/Angular,
                PostgreSQL, MongoDb, Cloudflare, AWS, Heroku and many-many more. </p></div>
    </div>
    <div class="domains">
        <div class="container is-wide">
            <div class="item is-frontend"><h1>Front-end</h1>
                <p> Front-end programmers at Kevant follows OOCSS principles to organize CSS across large-scale
                    projects. Our experts write truly modular, reusable code and effectively collaborate with the team.
                    Within the knowledge sharing culture, our developers review each others work on every code commit to
                    ensure consistency. </p></div>
            <div class="item is-mobile"><h1>Mobile</h1>
                <p> We’re always on the edge of the technology trends and now actively using Ionic in our mobile
                    projects. Even more, Kevant engineers have contributed to varios open source
                    frameworks. Our own enterprise level application development platform, SonicJS is our “secret sauce”
                    for delivering apps faster and cheaper than our competitors. </p></div>
            <div class="item is-backend"><h1>Back-end</h1>
                <p>All back end are not created equally. Only experienced engineers can build backend system that not
                    only function as designed, but function flawlessly under heavy load. Our engineers have extensive
                    experience both with traditional hardware infrastructure as well as modern cloud based platforms such
                    as AWS, Heroku and Google Cloud. We are experts in caching, messaging, database tuning, page load
                    optimization, and many other tools required to promote a blazingly fast user experience. We are also
                    careful not to over-engineer and always take the total cost of ownership and maintenance burden
                    associated to each component in the tech stack.</p></div>
        </div>
    </div>
</section>