<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card admin-content-type-edit">
        <div class="card-header">
          <i class="fa fa-align-justify edit-content-type"></i> Edit Content Type
          <div class='shortcode'>shortcode here</div>
        </div>
            <app-forms *ngIf="isDataAvailable" [questions]="this.questions" [onSubmitHandler]="onSubmitContentTypeEdit"></app-forms>
      </div>

    </div>
    <!--/.col-->
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#fields" role="tab" aria-controls="home" aria-selected="true">Fields</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " id="profile-tab" data-toggle="tab" href="#views" role="tab" aria-controls="profile"
        aria-selected="false">Views</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " id="profile-tab" data-toggle="tab" href="#permissions" role="tab" aria-controls="profile"
        aria-selected="false">Permissions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="contact"
        aria-selected="false">Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#create" role="tab" aria-controls="contact"
        aria-selected="false">Create Instance</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="fields" role="tabpanel" aria-labelledby="home-tab">
      <app-content-type-edit-fields></app-content-type-edit-fields>
    </div>
    <div class="tab-pane fade show" id="views" role="tabpanel" aria-labelledby="profile-tab">
      <app-content-type-edit-views></app-content-type-edit-views>
    </div>
    <div class="tab-pane fade show" id="permissions" role="tabpanel" aria-labelledby="profile-tab">
      <app-content-type-edit-permissions></app-content-type-edit-permissions>
    </div>
    <div class="tab-pane fade show" id="settings" role="tabpanel" aria-labelledby="contact-tab">
      <app-content-type-edit-settings></app-content-type-edit-settings>
    </div>
    <div class="tab-pane fade show" id="create" role="tabpanel" aria-labelledby="home-tab">
      <app-content-type-edit-create-instance></app-content-type-edit-create-instance>
    </div>
  </div>

</div>