<p>
  content-edit works!
  Load content type, generate forms fields, populate with data from content
</p>
<p>{{contentInstance?.id}}</p>
<p>{{contentInstance?.contentType}}</p>
<p>{{contentInstance?.name}}</p>
<p>{{contentInstance?.url}}</p>

<div class="row">
  <div class="col-md-12">
    <div class="card admin-create-instance">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Edit Content Instance
      </div>
      <div class="card-body">
        <app-forms *ngIf="isDataAvailable" [questions]="questions" [onSubmitHandler]="onSubmitContentAdd"></app-forms>
      </div>
    </div>
  </div>

</div>
