/* You can add global styles to this file, and also import other style files */
.rmargin{
    margin-right: 12px;
}

.tmargin{
    margin-top: 12px;
}


.page-builder-nav{
    display: none;
}

.btn .fa {
    margin: 0 6px 0 0;
}