<section class="pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-9">
                <h4>The comparison table below shows benefits of starting a development project with the SonicJs
                    platform versus starting
                    from scratch. The table portrays how using SonicJs can save a very significant amount of time and effort.</h4>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-9" data-ol-has-click-handler="">
                <div class="table-responsive">
                    <table class="table table-striped fa-check text-successtable-border border-light">
                        <thead class="border-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"><strong>Custom Development</strong></th>
                            <th scope="col"><strong>SonicJs Platform</strong></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <th scope="row">Complex Business Rules</th>
                            <td><i class="bi bi-check text-success"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">Advanced UX/UI</th>
                            <td><i class="bi bi-check text-success"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">Deep Domain Knowledge</th>
                            <td><i class="bi bi-check text-success"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">Integrations With Other Services/Platforms</th>
                            <td><i class="bi bi-check text-success"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">Performance Tuning</th>
                            <td><i class="bi bi-check text-success"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">CRUD Operations</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">API Development</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Configuration Management</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Sending Notifications (Emails/SMS)</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Error Logging</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Caching</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Breadcrumbs</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Routing</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Data Entry Forms</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Environment Awareness</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Content Management Tools</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
