*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.env
*.env-backup
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
admin/e2e/puppeteer/screenshots/*.png
server/storage/container1/*
server/storage/files/height*
server/storage/files/width*
server/data/data.sqlite
data-user.json
sonicjscom-deploy.sh
tests/cypress/screenshots
tests/cypress/videos
server/temp/*
server/data/config/installId.json
backups/*.zip
backups/temp/*
cypress/screenshots
cypress/videos
