<!-- <h3>{{page.title}} ({{page._id}})</h3> -->

{{#each page.rows}}
<div class="container">
    <div class="row" v-bind:id="row.id" v-for="row in rows">
        {{#each this.columns}}
        <div class='{{this.class}}'>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus,
                nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque
                nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Maecenas faucibus mollis interdum.</p>

            <p>Donec sed odio dui. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec
                id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor.</p>
            <small>({{this.id}})</small>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>