// Core styles
@import "styles/__animations";
@import "styles/__forms";
@import "styles/__navigation";
@import "styles/__components";
@import "styles/__utilities";

// Import styles
@import "styles/__section";
@import "styles/__pricing";
@import "styles/__heading";
