---
import { apiConfig } from "../../../db/routes";
import AdminLayout from "../layouts/admin-layout.astro";
---

<AdminLayout title=`SonicJs Admin` | Cache `>
  <div id="deployText">
    Click <a href="javascript:deploy();" >here</a> to deploy
  </div>
</AdminLayout>
<script is:inline>
  let deploy = () => {
    (async () => {
      try {
         document.getElementById("deployText").innerHTML = "Deploying...";
         const response = await fetch("/api/v1/admin/deploy", { method: "POST", });

      if (response.ok) {
        document.getElementById("deployText").innerHTML = "✅ Deploy triggered successfully!";
      } else {
         document.getElementById("deployText").innerHTML = "⚠️ Failed to trigger deploy.";
      }
    } catch (err) {
      console.error("Deploy error:", err);
      alert("❌ Something went wrong.");
    }
    })();
  }
</script>