body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bg-ptrans{
  background: #000;
  opacity: .7;
}

body {
  padding: 0;
}

main, .fixed-top, footer{
  margin-left: 260px;
}

footer{
  background: #ccc;
}

section{
  margin: 40px 0;
}

.no-margin{
  margin:0;
}

.hero{
  background-color: #333;
  height:350px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero h1{
  margin: 150px 0 0 0;
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.hero .dark-fade{
  background-image: linear-gradient( rgba(0,0,0,.4), rgba(0,0,0,.6));
  width: 100%;
  height: 100%;
}
