<section class="pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="row justify-content-md-center">
                <div class="col-md-7">
                    <h4 class="text-center pb-3">What can SonicJs do for you?</h4>
                    <h1 class="text-center pb-5">SonicJs vs. Custom Development</h1>
                    <h2 class="text-center pb-5">SonicJs is your new secret weapon, slashing <span class="highlight">development effort by up to 40%</h2>
                </div>
            </div>
            <div class="col-md-9 text-center">
                <h4>The comparison table below shows benefits of starting a development project or website with the SonicJs
                    platform versus starting from scratch..</h4>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-9" data-ol-has-click-handler="">
                <div class="table-responsive compare-custom-wrapper" style="">
                    <table class="table table-striped text-successtable-border border-light">
                        <thead class="border-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" class="text-center"><strong>Custom Development</strong></th>
                            <th scope="col" class="text-center"><strong>SonicJs Platform</strong></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <th scope="row">Complex Business Rules
                                <a href="#" data-toggle="tooltip" class="badge badge-info" title="" data-original-title="Implementing custom business rule is equivalent in both paths.">Info</a>
                            </th>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">Advanced UX/UI</th>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">Deep Domain Knowledge</th>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">Integrations With Other Services/Platforms</th>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">Performance Tuning</th>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">CRUD Operations
                                <a href="#" data-toggle="tooltip" class="badge badge-info" title="" data-original-title="With SonicJs you don't need to write code for CRUD and many simple queries.">Info</a>
                            </th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">API Development
                                <a href="#" data-toggle="tooltip" class="badge badge-info" title="" data-original-title="SonicJs provides you with a full GraphQL API out of the box with zero coding.">Info</a>

                            </th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Configuration Management</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Sending Notifications (Emails/SMS)</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Error Logging</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Caching</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Breadcrumbs</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Routing</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Data Entry Forms
                                <a href="#" data-toggle="tooltip" class="badge badge-info" title="" data-original-title="Data entry forms are automagically generated for all
                                content types defined in the system. New content types are managed with a drag and drop form builder.">Info</a>
                            </th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Environment Awareness</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Content Management Tools</th>
                            <a href="#" data-toggle="tooltip" class="badge badge-info" title="" data-original-title="SonicJs enterprise grade content management features allow devs and non-devs
                             to manage your app or website's content with ease.">Info</a>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="fas bi-check-circle-fill text-success"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center mt-2"><a class="btn btn-primary btn-lg" href="/blog/kill-40-development-effort-with-a-nodejs-lowcode-platform">Read More</a></div>

            </div>
        </div>
    </div>
</section>
<style>
    .compare-custom-wrapper table tr td{
        text-align: center;
    }
</style>
