//
// user/variables.scss
// This file is mean to overwrite Bootstrap or DashCore variables
// It is recommended you do this way and not by editing the Bootstrap or DashCore variables files because future updates
//

// You can give a Boostrap or DashCore variable any value you like here, e.g
// $body-color: #c3000d; // this will change the default font color
