
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-horizontal">
    <input name="id" id="id" type="hidden" value="{{id}}">
<div class="card-body">
  <div *ngFor="let question of questions">

    <app-questions [question]="question" [form]="form" style="width:100%"></app-questions>
    
  </div></div>
<div class="card-footer">
  <button type="button" type="submit" [disabled]="!form.valid" class="btn btn-primary pull-right save">
    Save
  </button>
  <button type="button" (click)="onCancel()" class="btn btn-warning">
    Cancel</button>
</div>
</form>


  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>