<div class="row justify-content-md-center contact-kevant pt-5 pb-5">
    <div class="col-md-8">
        <h4>{{data.tagLine}}</h4>
        <h1 class="mb-5">Let's Chat</h1>
        {{{ data.form }}}
    </div>
</div>

