<a href="/api/containers/files/download/Node.js CMS - Dashboard.png" itemprop="contentUrl" data-size="1280x1000">
  <img src="/images/{{ data.fileName }}?width={{ data.thumbnailWidth }}" class="thumbnail" itemprop="thumbnail"
    alt="Image description">
</a>
