<div class="container install">

  <div class="row justify-content-center">
    <div class="col-md-8 logo-center">
      <a class="navbar-brand" href="#">
        <img src="/api/containers/files/download/sonicjs-logo-white.svg" alt="" width="600">
      </a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-10">

      <form action="/register" method="post">

        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Install SonicJs</h1>
            <p class="text-muted">Let's get you all setup. Not sure which database to select? Check out the <a
                target="_blank" href="https://sonicjs.com/docs#database-support">docs here</a>.</p>
            <label>
              Select your database
            </label>
            <div class="input-group mb-10">

              <div class="nav flex-column nav-pills col-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-flat-tab" data-toggle="pill" href="#v-pills-flat" role="tab"
                  aria-controls="v-pills-flat" aria-selected="true">Flat File</a>
                <a class="nav-link" id="v-pills-mongo-tab" data-toggle="pill" href="#v-pills-mongo" role="tab"
                  aria-controls="v-pills-mongo" aria-selected="false">Mongo</a>
                <a class="nav-link" id="v-pills-mysql-tab" data-toggle="pill" href="#v-pills-mysql" role="tab"
                  aria-controls="v-pills-mysql" aria-selected="false">MySQL</a>
                <a class="nav-link" id="v-pills-sqlserver-tab" data-toggle="pill" href="#v-pills-sqlserver" role="tab"
                  aria-controls="v-pills-sqlserver" aria-selected="false">SQL Server</a>
                <a class="nav-link" id="v-pills-postgresql-tab" data-toggle="pill" href="#v-pills-postgresql" role="tab"
                  aria-controls="v-pills-postgresql" aria-selected="false">PostgreSQL</a>
                <a class="nav-link" id="v-pills-oracle-tab" data-toggle="pill" href="#v-pills-oracle" role="tab"
                  aria-controls="v-pills-oracle" aria-selected="false">Oracle</a>
                <a class="nav-link" id="v-pills-redis-tab" data-toggle="pill" href="#v-pills-redis" role="tab"
                  aria-controls="v-pills-redis" aria-selected="false">Redis</a>
                <a class="nav-link" id="v-pills-sqllite3-tab" data-toggle="pill" href="#v-pills-sqllite3" role="tab"
                  aria-controls="v-pills-sqllite3" aria-selected="false">SQLite3</a>
                <a class="nav-link" id="v-pills-inmemory-tab" data-toggle="pill" href="#v-pills-inmemory" role="tab"
                  aria-controls="v-pills-inmemory" aria-selected="false">In-Memory</a>
                <a class="nav-link" id="v-pills-other-tab" data-toggle="pill" href="#v-pills-other" role="tab"
                  aria-controls="v-pills-other" aria-selected="false">Other</a>
              </div>

              <div class="tab-content col-9" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-flat" role="tabpanel"
                  aria-labelledby="v-pills-flat-tab">
                  <h3>Flat File</h3>
                  <hr>
                  <p>A flat file database is a simple json file(s) that stores site data. See a sample <a
                      target="_blank" href="https://github.com/lane711/sonicjs/blob/master/data.json">here</a>.</p>
                  <ul>
                    <li>Benefits:</li>
                    <ul>
                      <li>Source control your data (optional)</li>
                      <li>Easy to deploy</li>
                      <li>Good option for read-only website (even large sites)</li>
                      <li>Good option if you are just evaluating SonicJs and want to get setup quickly</li>
                      <li>Highly scalable performance (data is cached in SonicJs by default)</li>
                      <li>You can optionally split your database into multiple json files</li>
                    </ul>
                    <li>Drawbacks:</li>
                    <ul>
                      <li>Not recommended for websites with database writes (potential data loss)</li>
                      <li>Possibility of data getting lost in source control merges</li>
                    </ul>
                  </ul>
                </div>
                <div class="tab-pane fade" id="v-pills-mongo" role="tabpanel" aria-labelledby="v-pills-mongo-tab">
                  <h3>Mongo</h3>
                  <hr>
                  <div class="form-group">
                    <label for="host">Host</label>
                    <input type="text" class="form-control" id="host" placeholder="localhost" value="localhost">
                  </div>
                  <div class="form-group">
                    <label for="dbport">Port</label>
                    <input type="text" class="form-control" id="dbport" placeholder="27017" value="27017">
                  </div>
                  <div class="form-group">
                    <label for="url">Url</label>
                    <input type="text" class="form-control" id="url" placeholder="mongodb://localhost:27017/sonicjs"
                      value="mongodb://localhost:27017/sonicjs">
                  </div>
                  <div class="form-group">
                    <label for="database">Database</label>
                    <input type="text" class="form-control" id="database" placeholder="sonicjs" value="sonicjs">
                  </div>
                  <div class="form-group">
                    <label for="user">User</label>
                    <input type="text" class="form-control" id="user" placeholder="optional">
                  </div>
                  <div class="form-group" style="margin-bottom: 0;">
                    <label for="password">Password</label>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-lock"></i>
                      </span>
                    </div>
                    <input class="form-control" type="password" name="password" id="password" placeholder="optional">
                  </div>

                </div>
                <div class="tab-pane fade" id="v-pills-mysql" role="tabpanel" aria-labelledby="v-pills-mysql-tab">
                  MySQL</div>
                <div class="tab-pane fade" id="v-pills-sqlserver" role="tabpanel"
                  aria-labelledby="v-pills-sqlserver-tab">
                  SQL Server</div>
                <div class="tab-pane fade" id="v-pills-postgresql" role="tabpanel"
                  aria-labelledby="v-pills-postgresql-tab">
                  PostgreSQL</div>
                <div class="tab-pane fade" id="v-pills-oracle" role="tabpanel" aria-labelledby="v-pills-oracle-tab">
                  Oracle</div>
                <div class="tab-pane fade" id="v-pills-redis" role="tabpanel" aria-labelledby="v-pills-redis-tab">
                  Redis</div>
                <div class="tab-pane fade" id="v-pills-sqllite3" role="tabpanel" aria-labelledby="v-pills-sqllite3-tab">
                  SQLite3</div>
                <div class="tab-pane fade" id="v-pills-inmemory" role="tabpanel" aria-labelledby="v-pills-inmemory-tab">
                  In Memory</div>
                <div class="tab-pane fade" id="v-pills-other" role="tabpanel" aria-labelledby="v-pills-other-tab">
                  Other</div>
              </div>

            </div>

          </div>

          <div class="card-footer p-4">

            <div class="row">
              <div class="col-12">
                <button class="btn btn-block btn-success" type="submit">Next</button>
              </div>
            </div>

            {{!-- <div class="row">
            <div class="col-6">
              <button class="btn btn-block btn-facebook" type="button">
                <span>facebook</span>
              </button>
            </div>
            <div class="col-6">
              <button class="btn btn-block btn-twitter" type="button">
                <span>twitter</span>
              </button>
            </div>
          </div> --}}
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
