<div class="row">
  <div class="col-md-12">
    <div class="card admin-create-instance">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Edit Site Colors
      </div>
      <div class="card-body">

        {{{ data.editForm }}}

              <div id="parent">Color Picker Demo</div>
              {{!-- <input type="text" id="parent"/> --}}

      </div>



    </div>
  </div>

</div>