<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card admin-content-type-edit">
        <div class="card-header">
          <i class="fa fa-align-justify edit-content-type"></i> Add Module {{ this.data.title }}
        </div>

        <div class="card-body">

          <script type='text/javascript'>
            window.onload = function () {
              Formio.createForm(document.getElementById('createContentTypeForm'), {
                components: [
                  {
                    type: 'textfield',
                    key: 'title',
                    label: 'Module Title',
                    placeholder: 'Enter the title of your new module (ie: Service List, News Feed, Public Service).',
                    input: true
                  },
                  {
                    type: 'textfield',
                    key: 'systemid',
                    label: 'SystemId',
                    placeholder: 'Enter the slug to be used as the system id (ie: service-list, news-feed, public-service)',
                    input: true
                  },
                  {
                    type: 'button',
                    action: 'submit',
                    label: 'Create Module',
                    theme: 'primary'
                  }
                ]
              })
                .then(async function (form) {
                  form.submission = {
                    data: { title: 'Sandbox', systemid: 'sandbox' }
                  };
                  form.on('submit', async function (submission) {
                    var accessToken = '{{ this.accessToken }}';
                    debugger;
                    axios.post(`/api/modules?access_token=${accessToken}`, submission.data)
                      .then(async function (response) {
                        console.log(response);
                        //return await response.data;
                        
                        window.location.replace('/admin/modules/edit/' + submission.data.systemid);
                      })
                      .catch(function (error) {
                        console.log(error);
                      });

                  });
                });
            }
          </script>

          <div id="createContentTypeForm"></div>
        </div>

      </div>

    </div>
    <!--/.col-->
  </div>

</div>