<div class="row">
  <div class="col-md-12">
    <div class="card admin-create-instance">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Edit Content
      </div>
      <div class="card-body">



        <p>
          <a id="button1" href="#">Toggle 'The Hobbit'</a>
        </p>
        <div id="tree"></div>
        <div id="statusLine">Fancytree Demo - Click any node!</div>



      </div>
    </div>
  </div>

</div>
