<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Media
            <a href="javascript:void(0)" onclick="openNewContentTypeModal()"
                class="btn btn-success float-right new-content-type">New Media</a>
        </div>
        <div class="card-body page-list">


            <form class="dropzone2" id="sonicjs-dropzone">Drop Files Here</form>

            <div class="row">
                {{#each data}}


                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="/api/containers/files/download/{{ this.name }}">
                            <img src="/api/containers/files/download/{{ this.name }}"
                                style="width:100%">
                            <div class="caption">
                                <p>{{this.name}}</p>
                            </div>
                        </a>
                    </div>
                </div>


                {{/each}}
            </div>
        </div>
    </div>
</div>