<div class="row">
  <div class="col-md-12">
    <div class="card admin-create-instance">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Edit Site Typography
      </div>
      <div class="card-body">

        {{{ data.editForm }}}
        
      </div>
    </div>
  </div>

</div>