{{> hero-section }}

{{!-- {{log "Look at me!" this}} --}}

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <span data-id="5d3f3b42d7ab262eb722b81f">
                    <h1>{{data.title}}</h1>

                    {{{data.body}}}
                </span>
            </div>
        </div>
    </div>
</section>