<div class="input-group mb-3 col-md-6">
  <input
    type="text"
    id="clone-text"
    class="form-control"
    value="git clone https://github.com/lane711/sonicjs.git"
    aria-label="Recipient's username"
    aria-describedby="basic-addon2"
  />
  <span class="input-group-text" id="copy-clone">Copy
    <i class="bi bi-clipboard"></i></span>
</div>
<div class="row col-md-6">
  <div class="alert alert-success copy-success hide" role="alert">
    Text copied to your clipboard!
  </div>
</div>