<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div
          class="field field-name-body field-type-text-with-summary field-label-hidden"
        ><p align="justify">Welcome to famlu.com. The following represents terms
            and conditions (the "Agreement") that you must read and accept
            before using our services.</p>

          <p align="justify"><strong>SERVICE DESCRIPTION</strong></p>

          <p align="justify">Famlu.com (the "Website") is an online service (the
            "Service") owned and operated by Famlu Inc. ("Famlu.com", "Famlu",
            "we", "our" or "us").</p>

          <p align="justify">"You" or "your" refers to authorized users of the
            Service this may include the users, the parent or guardian for of a
            user under the age of 18 expressly invited to join your Private
            Family Web Site.</p>

          <p align="justify"><strong>ELIGIBILITY</strong></p>

          <p align="justify">The Service is intended for adult users. However,
            if a current user invites a minor to join your Family Web Site, the
            inviting users assumes responsibility for monitoring the minor’s
            activity on the Service.</p>

          <p align="justify"><strong>ACCEPTANCE OF TERMS</strong></p>

          <p align="justify">This website and associated services are offered to
            you based on your acceptance without modification of all the terms,
            conditions, and notices set forth below. Your access and/or use of
            this Website in any manner implies that you agree to be bound by
            these Terms and Conditions.</p>

          <p align="justify"><strong>MODIFICATION </strong></p>

          <p align="justify">We reserve the right at any time to change or
            otherwise modify these terms and conditions without prior notice,
            and your continued access or use of this Website signifies your
            acceptance of the updated or modified Terms and Conditions. If you
            do not want to be bound by any modification of these Terms and
            Conditions, your sole remedy is to stop using the Service.</p>

          <p align="justify"><strong>USE OF SERVICE; MEMBERSHIP; REGISTRATION</strong></p>

          <p align="justify">A visitor to the site is not required to register
            and become a Member (as defined below) of the Service. If a visitor
            elects not to register and become a Member of the Service, a visitor
            will be permitted to view any Family Web Sites that have been
            designated as public. Visitors who have not registered will not be
            able to view any Family Web Sites that have been designated as
            Private. Unregistered visitors will not be able to post content to
            or to comment on content that has been posted by others to any
            Family Web Site.</p>

          <p align="justify"><strong>REGISTRATION</strong></p>

          <p align="justify">To access restricted content such as Private Family
            Web Sites, or to post content to or to comment on content, you will
            need to become a member of the Service. To become a member, you must
            complete the registration process. As part of the registration
            process, you will be asked to select a unique username and password,
            provide a valid and verifiable email address. For paid memberships,
            you will be asked to payment and billing information.</p>

          <p align="justify">All information provided as part of the
            registration process must be accurate. Registrants are responsible
            for completing, and updating registration information as required.
            Failure to provide accurate registration information constitute a
            breach of the Terms and Conditions. Examples of inaccurate or
            impermissible registration includes, but is not limited to: (1) a
            username which is, includes or comprises the name of another person,
            in any case with the intent to impersonate that person; (2) using
            the username or password of any person other than yourself without
            authorization; or (3) using a username that we, in our sole
            discretion, deem offensive.</p>

          <p align="justify"><strong>PROHIBITED USE</strong></p>

          <p align="justify">You agree not to post, upload to, transmit,
            distribute, store, create or otherwise publish through the Service
            any of the following:</p>

          <ul>
            <li>
              <p align="justify">Libelous, defamatory, profane, obscene,
                pornographic, sexually explicit, indecent, lewd, vulgar,
                suggestive, violent, harassing, hateful, threatening, offensive,
                discriminatory, bigoted, abusive, inflammatory, fraudulent,
                deceptive or otherwise objectionable content;</p>
            </li>
            <li>
              <p align="justify">Content that is illegal or unlawful, that would
                constitute, encourage or provide instructions for a criminal
                offense, or otherwise create liability or violate any local,
                state, national or international law;</p>
            </li>
            <li>
              <p align="justify">Content that may infringe or violate any
                patent, trademark, trade secret, copyright, right of privacy,
                right of publicity or other intellectual property right or other
                right of any party;</p>
            </li>
            <li>
              <p align="justify">Unsolicited promotions, political campaigning,
                or commercial messages (SPAM) or any chain messages or User
                Content designed to deceive or trick the user of the Service;</p>
            </li>
            <li>
              <p align="justify">Private information of any third-party
                including, but not limited to, addresses, phone numbers, email
                addresses, Social Security numbers and credit card numbers; and</p>
            </li>
            <li>
              <p align="justify">Viruses, corrupted data or other harmful,
                disruptive or destructive files or code, script or other
                software designed to automate any functionality on the Service
                without Famlu’s express written consent.</p>
            </li>
          </ul>

          <p align="justify">You further agree that you are solely responsible
            for your conduct while using the Service, and you agree that you
            will not do any of the following in connection with the Service or
            the users of the Service:</p>

          <ul>
            <li>
              <p align="justify">Use the Service in any manner that could
                interfere with, disrupt, negatively affect or inhibit other
                users from fully enjoying the Service or that could damage,
                disable, overburden or impair the functioning of the Service in
                any manner;</p>
            </li>
            <li>
              <p align="justify">Collect any personally identifiable information
                about other users, or intimidate, threaten, stalk, or otherwise
                harass or cause discomfort to other users of the Service;</p>
            </li>
            <li>
              <p align="justify">Use the Service for any illegal or unauthorized
                purpose or engage in, encourage, or promote any illegal
                activity, or any activity that violates the Terms or any other
                rules or polices established from time-to-time by Famlu;</p>
            </li>
            <li>
              <p align="justify">Reproduce, copy or sell any portion of the
                Content, or systematically download Content to make or populate
                another database or for any other purpose.</p>
            </li>
            <li>
              <p align="justify">Interfere or attempt to interfere with the
                Famlu website. For example, but not limited to, using any
                software program, virus or routine to block, obscure, overwrite
                or modify any Content or web pages, or to destroy the software,
                hardware or telecommunications equipment of another person.</p>
            </li>
            <li>
              <p align="justify">Stalk or harass any Famlu employee. For
                example, but not limited to, using obscene, pornographic,
                sexually explicit, unlawful, threatening, abusive or vulgar
                language to any Famlu employee, or abusing Famlu resources, such
                as misusing an Famlu employee's time.</p>
            </li>
            <li>
              <p align="justify">Share your Famlu Member password with any
                unauthorized person, or permit a child under the age of 13 to
                publish information or post content under your membership.</p>
            </li>
            <li>
              <p align="justify">Use the Website for any illegal activity, or
                provide material which promotes or teaches illegal activity</p>
            </li>
            <li>
              <p align="justify">Forge headers or otherwise manipulate
                identifiers in order to disguise the origin of any content
                posted to, or otherwise communicated or transmitted through the
                Service;</p>
            </li>
            <li>
              <p align="justify">This list is not exclusive. Famlu prohibits
                members or any other person from engaging in any activity that
                Famlu, in its sole discretion, determines is offensive,
                interferes with the rights of others, or causes harm to any
                person, including to Famlu and its employees.</p>
            </li>
          </ul>

          <p align="justify">Violating any of the above mentioned terms may
            result, suspension, cancellation or termination of the accounts of
            the offending user. Such action may also include the forfeiture of
            any and all fees that the User has already paid to be a member of
            the Service or any other fee.</p>

          <p align="justify">This shall not limit any other remedy, legal,
            equitable or otherwise, that Famlu may pursue.</p>

          <p align="justify">Famlu takes no responsibility and assumes no
            liability for any user conduct or for any User Content posted,
            stored or made available via the Service.</p>

          <p align="justify">Famlu reserves the right to investigate complaints
            or reported violations of the Terms and to take any action we deem
            appropriate including, but not limited to, reporting any suspected
            unlawful activity to law enforcement officials, regulators, or other
            third-parties and disclosing any information necessary or
            appropriate to such persons or entities relating to your
            Registration Data, usage history, posted materials, IP addresses and
            traffic information.</p>

          <p align="justify"><strong>USERNAME, PASSWORD AND SECURITY
            </strong></p>

          <p align="justify">Users are responsible for all activity that
            originates from their account. As such users may not distribute
            their username or password to a third party others, including
            allowing others access to your Famlu.com account.</p>

          <p align="justify">Sharing information as outlined above shall
            constitute a breach of the Terms and Conditions governing this
            website and service.</p>

          <p align="justify">Users are responsible for maintaining the
            confidentiality of their password.</p>

          <p align="justify">Note that you will never be required to reveal your
            password to any representatives or agents of Famlu or its
            affiliates. In the event of a suspected breach of your information,
            you agree to notify us by regular mail, or by email, of any known or
            suspected unauthorized use(s) of your account, username or password,
            or of any known or suspected breach of security involving your
            account, including the loss, theft or unauthorized disclosure of
            your username, password or other account information (including your
            credit card information).</p>

          <p align="justify"><strong>USER-CONTRIBUTED CONTENT</strong></p>

          <p align="justify">Portions of the Website allow you and other Users
            to contribute material to be displayed on the Website or create and
            share various presentations and other materials with other Users
            ("User Provided Content"). For User Provided Content, Famlu is
            merely hosting and providing access as well as providing tools to
            post and share content. We cannot accept any liability with regard
            to such material (including with respect to its accuracy). While we
            cannot preview or monitor the User Provided Content, we may apply,
            at our discretion, automated filtering tools monitor and/or delete
            any content that Famlu believes to be in violation of this Agreement
            (for example, we could use automated tools to suppress obscene
            content). We reserve the right to act expeditiously to remove or
            disable access to any User Provided Content that we believe violates
            this Agreement. We are also sensitive to the copyright and other
            intellectual property rights of others.</p>

          <p align="justify">For complaints regarding copyright infringement or
            illegal content contact:</p>

          <p align="justify">Famlu Inc.<br />
            8105 Irvine Center Drive<br />
            9th Floor<br />
            Irvine, CA 92618<br />
            P: (800) 610-6992</p>

          <p align="justify"><strong>FAMILY TREES</strong></p>

          <p align="justify">The Service also allows users to create and/or
            upload family trees that are viewable from your Famlu site. The
            Family Tree functionality is provided by Famlu.com, a Famlu sister
            site to famlu.com. As you create or when you upload family trees,
            you will be working on Famlu.com and as you save a tree you will
            become a registered user of that site. The terms and conditions of
            Famlu.com apply to your use of this functionality and the materials
            you submit in connection with that use. Famlu.com materials are
            indexed and become part of the researchable materials on that site.
            This information is public depending on choice you make as you
            submit.</p>

          <p align="justify"><strong>INFRINGING MATIERAL</strong></p>

          <p align="justify">The decision to upload information to the Website
            or share information is your responsibility and you should only
            submit or share content that belongs to you or that will not violate
            the rights of others. By submitting material to Famlu you warrant
            and represent that you have the legal right to do so or that you
            have obtained any necessary third party consents. Upon the request
            of Famlu you agree to furnish Famlu with any documentation required
            to verify and substantiate your compliance with this provision.</p>

          <p align="justify"><strong>USER CONTENT</strong></p>

          <p align="justify">By submitting content to Famlu, you grant Famlu a
            transferable license to use, host, sublicense and distribute your
            submission to the extent and in the form or context we deem
            appropriate on or through any media or medium and with any
            technology or devices now known or hereafter developed or
            discovered.</p>

          <p align="justify">You hereby release Famlu from any and all claims,
            liens, demands, actions or suits in connection with the User
            Provided Content, including, without limitation, any and all
            liability for any use or nonuse of your User Provided Content,
            claims for defamation, invasion of privacy, right of publicity,
            emotional distress or economic loss. Except for the rights granted
            in this Agreement, Famlu acquires no title or ownership rights in or
            to any content you submit and nothing in this Agreement conveys any
            ownership rights in the content you submit to us.</p>

          <p align="justify">When submitting content on behalf of a group,
            organization or business entity, you represent that you have the
            right to do so and that you have obtained any consents from the
            group, organization or business.</p>

          <p align="justify">Some User Provided Content can be submitted as a
            scanned image which can be indexed. With regard to this type of
            content you grant Famlu a license to use the digital version of
            documents created by Famlu as well as any indexed information that
            Famlu creates.</p>

          <p align="justify"><strong>RULES REGARDING FAMILY WEB SITES</strong></p>

          <p align="justify">Members may create and maintain their own "Family
            Web Site" containing content contributed by members of the Family
            Web Site. A Family Web Site may also be used to engage in online
            discussion.</p>

          <p align="justify">Family Web Sites are established and managed by a
            Site Administrator. If you are the Site Administrator of a Family
            Web Site, you are subject to the following additional terms of use
            in relation to your role as an Administrator:</p>

          <p align="justify">As a Family Web Site Administrator:</p>

          <ul>
            <li>
              <p align="justify">You are responsible for deciding whether a
                Family Web Site is restricted to certain Members (a "Private
                Family Web Site") or accessible to the public generally (a
                "Public Family Web Site"). The default setting for any new
                Family Web Site is "private", and that setting may only be
                changed by the Administrator.</p>
            </li>
            <li>
              <p align="justify">The Site Administrator may change an
                individual's access to a Family Web Site at any time, including
                by denying continued access to the Family Web Site to any
                individual who previously had access to that Family Web Site. As
                it pertains to all Private Family Web Sites, the Site
                Administrator decides which Members will be invited to
                participate in that Private Family Web Site, and the Site
                Administrator can access and change the invited Member list in
                his or her sole discretion.</p>
            </li>
            <li>
              <p align="justify">A Site Administrator may, at any time, transfer
                his or her management and operation of a Family Web Site to
                another Member.</p>
            </li>
          </ul>

          <p align="justify">The Site Administrator of each Family Web Site is
            responsible for maintaining and monitoring all content posted to
            that Family Web Site. The Site Administrator shall be responsible
            for ensuring that all content that is posted to that Family Web Site
            is in compliance with these Terms and Conditions, including but not
            limited to removing content that is not in compliance with the Terms
            and Conditions.</p>

          <p align="justify"><strong>INTELLECTUAL PROPERTY</strong></p>

          <p align="justify">All brand, product and service names, including any
            images or logos, used in conjunction with this Service which
            identify Famlu or its affiliates or any third parties or their
            respective products or services, are the exlusive intellectual
            property of Famlu and/or the relevant third parties. Use of this
            service does not confer any license from Famlu or any third party
            with respect to any such brand, product or service name, image or
            logo.</p>

          <p align="justify"><strong>PRIVACY</strong></p>

          <p align="justify">Please review our Privacy Statement. For any
            questions or comments concerning our Privacy Statement, please send
            an email to us here.</p>

          <p align="justify"><strong>ADVERTISERS AND THIRD PARTY EXTERNAL LINKS</strong></p>

          <p align="justify">External links to third party sites may be offered
            as part of the service. These links may contain offers to buy
            services from third parties.</p>

          <p align="justify">Third party sites are subject to terms and
            conditions which are different from the Terms and Conditions which
            apply to this Service. As such Famlu.com makes no warranty
            concerning any third party goods or services.</p>

          <p align="justify">You further agree that your sole remedy for any
            dissatisfaction or problems related to any third party goods or
            services will be from the third party vendor, and not from Famlu.</p>

          <p align="justify"><strong>MEMBER DISPUTES</strong></p>

          <p align="justify">Users are solely responsible for your interactions
            with other users or Members of the Service. In its discretion Famlu
            may monitor or to attempt to resolve any dispute or disagreement
            between users.</p>

          <p align="justify">Famlu disclaims any liability to any user, Member
            or Subscriber to the Service or to any third party arising from or
            in connection with any such dispute.</p>

          <p align="justify"><strong>SERVICE AVAILABILITY</strong></p>

          <p align="justify">We employ reasonable measures to try to ensure that
            the Service is available on a 24 hours a day, 7 days a week basis.
            Occasions will arise when the Service will be temporarily
            interrupted for maintenance, or for outages that are beyond our
            control. Reasonable steps will be taken by us to minimize such
            disruption.</p>

          <p align="justify"><strong>MODIFICATION OF SERVICE FEATURES</strong></p>

          <p align="justify">Famlu. may add or delete certain features or
            function from the Service without notice. You agree that Famlu shall
            not be liable to you for any modification, suspension or
            discontinuance of the Service.</p>

          <p align="justify"><strong>LIABILITY DISCLAIMER</strong></p>

          <p align="justify">The information, products and services included on
            this Service is offered "AS IS", and without any warranty of any
            kind.</p>

          <p align="justify">TO THE EXTENT NOT PROHIBITED BY LAW, IN NO EVENT
            WILL FAMLU BE LIABLE TO YOU OR ANY THIRD-PARTY FOR ANY DIRECT,
            INCIDENTAL, SPECIAL, INDIRECT, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE
            DAMAGES WHATSOEVER INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS
            OF PROFITS, LOSS OF DATA, BUSINESS INTERRUPTION OR ANY OTHER
            COMMERCIAL DAMAGES OR LOSSES, ARISING OUT OF OR RELATED TO YOUR USE
            OF OR INABILITY TO USE THE SERVICE (INCLUDING, BUT NOT LIMITED TO,
            THE APPLICATION), HOWEVER CAUSED, REGARDLESS OF THE THEORY OF
            LIABILITY (CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER
            ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR
            OTHER THEORY) AND EVEN IF FAMLU HAS BEEN ADVISED OF THE POSSIBILITY
            OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR
            LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THIS
            LIMITATION MAY NOT APPLY TO YOU. IN NO EVENT WILL FAMLU’S TOTAL
            LIABILITY, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING
            NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY,
            STRICT LIABILITY OR OTHER THEORY, ARISING OUT OF OR RELATING TO THE
            USE OF OR INABILITY TO USE THE SERVICE.</p>

          <p align="justify"><strong>SUBSCRIPTION FEES &amp; PAYMENT</strong></p>

          <p align="justify">Famlu.com is a fee-based subscription Service. As a
            Member who subscribes to the Services (a "Subscriber"), you
            understand that membership in the Service is on a continuous service
            basis. This means that once you have become a Subscriber, your
            subscription will be automatically renewed and your credit card
            associated with that subscription will be charged based on the
            subscription program (e.g., annual, etc.) you have chosen. Credit
            card charges will be processed within 24 hours after you complete
            your subscription. Any products included with your subscription will
            be shipped promptly thereafter. You will be notified approximately
            30 days before your subscription automatically renews, and asked to
            correct any information which has changed. This notification will
            also be an opportunity to "opt out" of your renewal. Cancellation
            requests must be received two days before the renewal date for the
            cancellation to be effective.</p>

          <p align="justify">When other offers, promotions or free trials are
            made available, the specific terms and conditions that apply to each
            will be stated at the time of purchase; please ensure you have noted
            any relevant rules, cancellation dates or price changes when a
            promotion or free trial ends.</p>

          <p align="justify"><strong>Opting Out of Renewal.</strong>
            You may opt out of renewing your subscription by calling Famlu at
            1-888-265-7491 at least two days before the renewal date. If you do
            not let us know that you want to terminate your subscription at
            least two days prior to the end of the current subscription period
            the payment for the renewal period of the subscription will be made.</p>

          <p align="justify"><strong>Cancellations and Refunds.</strong>
            For all initial purchases, you may cancel during the first 30 days
            and receive a full refund. If the cancellation occurs after the
            first 30 days, you will not receive a refund. Cancellations may be
            made by calling Famlu at 1-888-265-7491 and providing the same
            information that you provided when you subscribed. Your cancellation
            must be received by end of business (4:00 p.m. Pacific Time) on the
            appropriate day as described above. All refunds will be given to the
            original credit card on which the purchase was made. Please allow a
            reasonable time for the refund to reach you or be charged back to
            your account.</p>

          <p align="justify"><strong>Prices Subject to Change.</strong>
            Prices may be changed by Famlu at any time. Each renewal of your
            subscription will be at the price that you were originally charged
            for that subscription when you subscribed unless there is a change
            in subscription prices.</p>

          <p align="justify">Famlu shall provide you with reasonable notice of
            any change in prices prior to the effective date of the new pricing.
            This notice shall be provided by email or other reasonable means of
            communication.</p>

          <p align="justify">If you do not wish to continue with your
            subscription due to the new prices, you may opt out of renewal as
            set forth in this Agreement.</p>

          <p align="justify"><strong>SPECIAL ADMONITIONS FOR INTERNATIONAL USE</strong></p>

          <p align="justify">The Website is operated in and the services
            provided are from the United States of America. This Agreement is
            governed by the laws of the State of California and the United
            States. Registering as a Member results in your personal information
            being stored and processed in the United States, and you
            specifically consent to our storage and processing of the personal
            data you submit.</p>

          <p align="justify"><strong>DISPUTES</strong></p>

          <p align="justify">If a dispute arises between you and Famlu, you
            agree to first contact Famlu Customer Support at 1-888-265-7491 to
            describe the problem and seek a resolution. If the problem is not
            resolved by customer support, then you and Famlu agree to the
            following methods to resolve any dispute or claim between us. First,
            you agree that this Agreement is governed by the law of the State of
            California, without regard to its principles on conflicts of laws,
            and the federal law of the United States of America. Second, you
            agree that you will seek arbitration consistent with the rules
            before initiating any litigation. If arbitration cannot resolve the
            issue, you agree to submit to the personal jurisdiction of the
            courts located within California for the purpose of litigating all
            such claims or disputes.</p>

          <p align="justify">Arbitration of disputes will be governed by the
            Commercial Dispute Resolution Procedures and the Supplementary
            Procedures for Consumer Related Disputes of the American Arbitration
            Association (collectively, "AAA Rules").</p>

          <p align="justify">The AAA Rules and costs related to aribitrtion are
            available online at www.adr.org or by calling the AAA at
            1-800-778-7879.</p>

          <p align="justify">YOU AND FAMLU AGREE THAT EACH MAY BRING CLAIMS
            AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT
            AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR
            REPRESENTATIVE PROCEEDING.</p>

          <p align="justify">Further, unless otherwise stipulated, the
            arbitrator may not consolidate more than one persons claims, and may
            not otherwise preside over any form of a representative or class
            proceeding. Notwithstanding the foregoing, this arbitration
            agreement does not preclude you from bringing issues to the
            attention of federal, state, or local agencies. Such agencies can,
            if the law allows, seek relief against us on your behalf. This
            arbitration provision shall survive termination of this Agreement.</p>

          <p align="justify"><strong>GOVERNING LAW</strong></p>

          <p align="justify">This Agreement is governed by the law of the State
            of California, without regard to any otherwise applicable conflicts
            of law principles. Any action to enforce this Agreement shall be
            brought in the federal or state courts located in California.</p>

          <p align="justify"><strong>CONTACT </strong></p>

          <p align="justify">Official correspondence must be sent via postal
            mail to:</p>

          <p align="justify">Famlu Inc.<br />
            8105 Irvine Center Drive<br />
            9th Floor<br />
            Irvine, CA 92618<br />
            P: (800) 610-6992</p>
        </div>
      </div>
    </div>
  </div>
</section>