/* Css File for Module: compare */
table.compare{
  font-size: 14px;
}

table.compare td {
  /* background-color: blueviolet; */
  /* margin: 2px;
  border: 1px #fff solid;*/
  text-align: center;
}

table.compare td{
  /* display: inline-block;
  text-align: left; */
}

table.compare .main-group {
  padding: 14px 0;
  font-weight: bold;
  font-size: 1.1rem;;
}

table.compare .main-group {
  text-align: center;
}

table.compare .category {
  text-align: left;
}

table.compare .sub-category {
  text-align: left;
  padding-left: 30px;
}

table.compare .green {
  color: #4dbd74;
}

table.compare .light-green {
  color: #a0dbb5;
}

table.compare .red {
  color: #f86c6b;
}

table.compare .yellow {
  color: #ffc107;
}

table.compare i{
  font-size: 26px;
}

.tooltip-inner {
  text-align: left;
}
