<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card admin-field-instance-edit">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Edit Field Instance
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Label</label>
              <div class="col-md-9">
                <input type="text" id="text-input" v-model="label" name="text-input" class="form-control" placeholder="Title">
                <!-- <span class="help-block">This is a help text</span> -->
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Required</label>
              <div class="col-md-9">
                <input type="checkbox" v-model="required" name="required" class="form-control">
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input">Help Text</label>
              <div class="col-md-9">
                <textarea id="textarea-input" v-model="helpText" name="textarea-input" rows="3" class="form-control" placeholder="Content, text or html..."></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" v-on:click="saveFieldInstance" class="btn btn-primary pull-right">
            Save</button>
          <button type="reset" class="btn btn-danger">
            Cancel</button>
        </div>
      </div>

    </div>
    <!--/.col-->
  </div>


</div>

<script type="text/javascript">
  var contentTypeSave = new Vue({
    el: '.admin-field-instance-edit',
    data: {
      label: '{{ fieldInstance.label }}',
      helpText: '{{ fieldInstance.helpText }}',
      required: '{{ fieldInstance.required }}',
      debug: true,
      domain: '',
      ajaxRequest: false,
      postResults: []
    },
    // define methods under the `methods` object
    methods: {
      saveFieldInstance: function (event) {

        console.log('saving:' + this.title);
        axios.post('/admin/field-instance/{{fieldInstance._id}}', {
            label: this.label,
            required: this.required,
            helpText: this.helpText
          })
          .then(function (cotentType) {
            console.log(cotentType);
            var url = new URL(window.location.href).searchParams.get("returnUrl");
            var getUrl = window.location;
            window.location.href = url;
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    }
  })
</script>