<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Content Type
      <a [routerLink]="['/content-types', 'add']" class="btn btn-primary float-right">New Content Type</a>
    </div>
    <div class="card-body page-list">
        <button class="btn btn-secondary" type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on bottom</button>

        <p>
          Popovers can contain any arbitrary HTML, Angular bindings and even directives!
          Simply enclose desired content or title in a <code>&lt;ng-template&gt;</code> element.
        </p>
        
        <ng-template #popContent>Hello, <b>{{name}}</b>!</ng-template>
        <ng-template #popTitle>Fancy <b>content!!</b></ng-template>
        <button type="button" class="btn btn-outline-secondary" [ngbPopover]="popContent" [popoverTitle]="popTitle">
          I've got markup and bindings in my popover!
        </button>

        
      <table class="table table-responsive-sm table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contentType of contentTypes">
            <td><a [routerLink]="['/content-types', contentType.id]">{{ contentType.name}}</a></td>
            <td>{{ contentType.description}}</td>
            <td>
              <span class="badge badge-success">Active</span>
              <a class="btn btn-sm btn-primary" [routerLink]="['/content-types', contentType.id]">Edit</a>
              <button class="btn btn-sm btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Prev</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul> -->
    </div>
  </div>
</div>
<script src="/assets/js/popovers.js"></script>
