<div
class="modal-popup popup-gallery grid-of-images"
data-type="gallery"
data-image='{"verticalFit": true}'
data-zoom="300"
>
{{#each data.galleryImages }}
<a
  href="/assets/uploads/{{ this.select.file}}"
  title="<b>{{ this.title}}</b> {{ this.body}}"
  ><img src="/assets/uploads/{{ this.select.file}}" /></a
>
{{/each}}

</div>