<div class="row">
    <div class="col-md-4">
        <div>
            <div>{{ data.title }}</div>
        </div>
    </div>
    <div class="col-md-8">
        <div>
            <div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div>
            <div>tree view</div>
        </div>
    </div>
    <div class="col-md-8">
        <div>
            <div>content</div>
        </div>
    </div>
</div>