<div class="row bottom-white-border">
    <div class="col-md-3">
        <div>
            <div>{{ data.title }}</div>
        </div>
    </div>
    <div class="col-md-9">
        <div>
            <div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">User Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Developers Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Examples</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div>
            <div>
                <ul class="doc-tree">
                    <li>
                        <a href="#">Active</a>
                        <ul>
                            <li>
                                <a href="#">Active</a>
                            </li>
                            <li>
                                <a href="#">Active</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Active</a>
                    </li>
                    <li>
                        <a href="#">Active</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div>
            <div>
                <p>SonicJs is a modern, open source content management system and web application framework.</p>
                <p>It is built using NodeJs and Angular along with IBM's Loopback ORM for data access to most popular
                    database systems. </p>
                <p>
                    <div id="editor1">
                        <ul class="doc-tree">
                            <li>
                                <a href="#">Active</a>
                                <ul>
                                    <li>
                                        <a href="#">Active</a>
                                    </li>
                                    <li>
                                        <a href="#">Active</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Active</a>
                            </li>
                            <li>
                                <a href="#">Active</a>
                            </li>
                        </ul>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>