<div class="row bottom-white-border">
    <div class="col-md-3">
        <div>
            <div>{{ data.title }}</div>
        </div>
    </div>
    <div class="col-md-9">
        <div>
            <div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">User Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Developers Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Examples</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div>
            <div>
                <ul class="doc-tree">
                    <li>
                        <a href="#">Overview</a>
                    </li>
                    <li>
                        <a href="#">Getting Started</a>
                        <ul>
                            <li>
                                <a href="#">Prerequisites</a>
                            </li>
                            <li>
                                <a href="#">Database Support</a>
                            </li>
                            <li>
                                <a href="#">Local Setup</a>
                            </li>
                            <li>
                                <a href="#">Debugging</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Core Concepts</a>
                        <ul>
                            <li>
                                <a href="#">Forms</a>
                            </li>
                            <li>
                                <a href="#">Content Types</a>
                            </li>
                            <li>
                                <a href="#">Field Types</a>
                            </li>
                            <li>
                                <a href="#">Media Management</a>
                            </li>
                            <li>
                                <a href="#">Settings</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Forms</a>
                    </li>
                    <li>
                        <a href="#">Content Type</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div>
            <div>
                <p>SonicJs is a modern, open source content management system and web application framework.</p>
                <p>It is built using NodeJs and Angular along with IBM's Loopback ORM for data access to most popular
                    database systems. </p>
                <p>
                    <div id="editor1" class="doc-html">
                        <div>test</div>
                    </div>
                </p>
                <p>
                    ipsum he lor
                </p>
                <p>
                    <div id="editor2" class="doc-js">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}</div>
                </p>
            </div>
        </div>
    </div>
</div>