.latest-projects {
  .project-detail {
    .description {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0;
      transform: translate(0, 100%);
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      .description {
        opacity: 0.9;
        transform: translate(0, 0);
      }
    }
  }
}
