<div class="feature-box">
    <div class="icon">
        <i class="fa fa-{{ data.icon }}"></i>
    </div>
    <div class="title">
        {{{ data.title }}}
    </div>
    <div class="description">
        {{{ data.description }}}
    </div>
</div>