// topbanner
$topbanner-padding-y:                    .625rem !default;
$topbanner-font-size:                    $font-size-small !default;

$topbanner-dark-color:                   rgba($white, .65) !default;
$topbanner-dark-muted-color:             rgba($white, .45) !default;
$topbanner-dark-hover-color:             $white !default;
$topbanner-dark-active-color:            $white !default;
$topbanner-dark-icon-color:              $color-primary !default;
