main {
padding: 80px 0
}

.menu-module .nav-item a {
color: #FFCB05
}

.modal-content {
background-color: #000
}

.moralis-metamask-logout:hover {
cursor: pointer
}

.formio-component-submit {
margin: 12px 0 0
}

.modal,.modal th {
color: #fff
}

.nobullets {
list-style-type: none;
padding: 0;
margin: 0
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
font-family: 'Roboto',sans-serif;
font-size: 14px;
font-weight: 400;
background: #111;
color: #C8C8C8
}

.banner-area {
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 35px 0 270px
}

.banner-area a {
padding: 10px;
width: 146px;
height: 35px;
background: rgba(0,0,0,0.5);
border: 1px solid #000000;
border-radius: 10px;
font-weight: 400;
font-size: 12px;
color: #fff;
transition: 0.2s all ease
}

.banner-area a:hover {
opacity: 0.8
}

.bbt-title h2 {
font-weight: 700;
line-height: 38px;
color: #FFFFFF;
margin: 0
}

.bbt-right p {
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #CECECE;
margin-top: 15px
}

.bbt-edit a {
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
border: 1px solid #fff;
padding: 12px 20px;
display: inline-block
}

.bbt-left img {
position: relative;
top: -25px
}

.bbt-right {
padding-top: 25px
}

.hr-line {
width: 100%;
height: 1px;
display: block;
background-color: #2D2D2D;
margin-bottom: 50px;
margin-top: 30px
}

.announcements-title {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 30px
}

.announcements-title h2 {
font-weight: 500;
font-size: 17px;
color: #FFFFFF
}

.announcements-title>a {
padding: 15px;
width: 195px;
height: 40px;
background: #FFCB05;
font-weight: 500;
font-size: 15px;
color: #000000;
display: flex;
align-items: center;
justify-content: center
}

.announcement-item {
background: #0B0B0B;
border: 1px solid #525252;
border-radius: 5px;
padding: 30px;
margin-bottom: 30px
}

.announcement-item h2 {
font-weight: 500;
font-size: 25px;
color: #FFCB05
}

.announcement-item p {
font-size: 14px;
color: #C8C8C8
}

.announcement-item p a {
text-decoration: underline;
color: #FFCB05
}

.see-more a {
font-weight: 500;
font-size: 17px;
text-decoration-line: underline;
color: #FFCB05
}

.see-more {
padding-bottom: 20px
}

.announcements-title h2 a {
padding-right: 10px;
color: #fff
}

.announcements-title h2 a:first-child {
color: #FFCB05
}

.button-yellow {
background-color: transparent;
color: #FFCB05
}

.button-white {
background-color: transparent;
color: white
}

.button-red {
background-color: transparent;
color: red
}

.button-green {
background-color: transparent;
color: green
}

.proposal-item {
background: #0B0B0B;
border: 1px solid #525252;
border-radius: 5px;
padding: 30px;
margin-bottom: 30px
}

.proposal-item h2 {
font-weight: 500;
font-size: 25px;
color: #FFCB05
}

.proposal-item p {
font-weight: 400;
font-size: 14px;
color: #C8C8C8
}

.proposal-item p a {
font-weight: 400;
font-size: 14px;
text-decoration-line: underline;
color: #FFCB05;
display: inline-block;
padding-top: 10px;
padding-bottom: 12px
}

.event-item h2 {
font-style: normal;
font-weight: 500;
font-size: 25px;
color: #FFCB05
}

.event-item p {
font-style: normal;
font-weight: 500;
font-size: 14px;
color: #FFFFFF;
margin: 0
}

.event-item {
background: linear-gradient(180deg,rgba(0,0,0,0) 38.33%,#000000 77.29%),url(.jpg),#0B0B0B;
border: 1px solid #525252;
border-radius: 5px;
margin-bottom: 30px
}

.event-inner {
padding: 0 30px 20px
}

.event-item img {
border-radius: 5px 5px 0 0
}

.footer-area {
padding: 100px 0 50px
}

.footer-area p {
font-size: 16px;
font-weight: 500;
margin-top: 20px
}

.footer-area h4 {
font-size: 16px;
font-weight: 500;
margin-bottom: 25px
}

.footer-area ul li a {
font-size: 12px;
font-weight: 500;
line-height: 14px;
color: #fff;
padding-bottom: 8px;
display: inline-block;
text-transform: uppercase;
transition: 0.2s all ease
}

.footer-area ul li a:hover {
color: #FFCB05
}

.card-img-top {
width: 100%;
height: 20vw;
object-fit: cover
}