/* Css File for Module: compare-cms */
.compare-cms th {
  font-size: 0.9rem;
  padding-left: 2rem;
  position: relative;
}

.compare-cms .table .category {
  background: #fff;
}

.compare-cms .table .category th {
  padding: 5rem 0.75rem 0 0.75rem;
  font-size: 1.4rem;
}

.compare-cms td.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

.compare-cms td.rotate > div {
  transform: translate(-8px, 90px) rotate(-50deg);
  width: 30px;
}
.compare-cms td.rotate > div > span {
  padding: 5px 10px;
  font-weight: bold;
}

.compare .review-wrapper{
  margin: 100px 0 80px;
  position: relative;
}