# Dependencies
node_modules/
package-lock.json

# Next.js
.next/
out/
*.tsbuildinfo
next-env.d.ts

# OpenNext
.open-next/
.wrangler/

# Environment
.env
.env*.local
.dev.vars

# OS
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Vercel
.vercel

# Testing
coverage/
