---
import { apiConfig } from "../../../db/routes";
import AdminLayout from "../layouts/admin-layout.astro";
---

<AdminLayout title=`SonicJs Admin` | Settings `>
  <h1 class="text-base font-semibold leading-6 text-white">Coming Soon</h1>
    <p class="mt-4">Settings management will be available in a future release.</p>
</AdminLayout>