import { EmailPreview } from '../../components/EmailPreview';

interface Params {
    emailName: string;
}

const { emailName } = Astro.params as Params;

// Example data
const emailData = {
    firstName: 'John'
};

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Email Preview: {emailName}</title>
    </head>
    <body>
        <EmailPreview 
            client:load 
            emailName={emailName} 
            data={{
                firstName: 'John'
            }} 
        />
    </body>
</html> 