@import "components/accordion";
@import "components/alerts";
@import "components/badges";
@import "components/cards";
@import "components/popups";
@import "components/progress-bar";
@import "components/nav";
@import "components/swiper";
@import "components/tables";
@import "components/tabs";
@import "components/wizard";
