{{#if data.showHero}}
  <!-- Background image -->
  <div
    class="text-center bg-image"
  >
    <div class="mask" >
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">{{data.heroTitle}}</h1>
          <h4 class="mb-3">Subheading</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call
            to action</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
{{/if}}
{{#unless data.showHero}}
  <div class="under-menu-spacer"></div>
{{/unless}}