{{#if data.showHero}}
<header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('/assets/uploads/waves.jpeg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="display-4 text-contrast mb-4 mt-4">{{data.heroTitle}}</h1>
          <!-- <p class="lead text-contrast">
            {{data.heroSubTitle}}
          </p> -->
        </div>
      </div>
    </div>
  </header>
{{/if}}
{{#unless data.showHero}}
<div class="under-menu-spacer"></div>
{{/unless}}
