/* Css File for Module: menu-title */
div[data-module="MENU-TITLE"] {
  margin: 25px 0 0;
  /* position: fixed */
  }

div[data-module="MENU-TITLE"] ul{
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

div[data-module="MENU-TITLE"] .li-h1{
  padding: 20px 0 0 0;
  font-size: 18px;
}

div[data-module="MENU-TITLE"] .li-h2{
  font-size: 14px;
  padding: 10px 0 0  20px;
}
