<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/img/favicon.ico">

  <title>{{title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/font-awesome.css" rel="stylesheet">
  <link href="/jsoneditor.min.css" rel="stylesheet">
  <link href="/formio.full.min.css" rel="stylesheet">

  <base href="/">

</head>

<body>

  <main role="main">

    {{{body}}}

  </main>

  <script src="jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/tinymce.min.js"></script>
  <script src="/js/jquery.tinymce.min.js"></script>
  <script src="/jsoneditor.min.js"></script>
  <script src="/formio.full.min.js"></script>

</body>

</html>