<div class="table-responsive compare-cms">
  <table class="table table-striped text-successtable-border border-light">
    <thead class="border-light">
      <tr>
        <th scope="col"></th>
        <th scope="col"><strong>SonicJs</strong></th>
        <th scope="col"><strong>KeystoneJs</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr class="category">
        <th scope="row">Database Support</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">PostgreSQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
      </tr>
      <tr>
        <th scope="row">SQLite</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">MariaDB</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Microsoft SQL Server</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Oracle</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">WebSQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">MongoDB</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
      </tr>
      <tr>
        <th scope="row">CockroachDB</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">SAP Hana</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">sql.js</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Backup/Restore</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Content Types</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Layout Builder</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Page Builder</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Page Template Builder</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Modules</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Hooks</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Form Builder</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>



      <tr class="category">
        <th scope="row">Field Type</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Shortcodes</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Headless</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">GraphQL</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Security</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Themes</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>



    </tbody>
  </table>
</div>