<div class="row">
  <div class="col-md-12">
    <div class="card admin-create-instance">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Add Content Instance
      </div>
      <div class="card-body">
        <div *ngIf="!isFormDataAvailable">
          <h4>Select content type to add:</h4>
          <hr>
          <span *ngFor="let contentType of contentTypes">
            <button (click)="loadContentInstanceForm(contentType.systemid)"
              class="btn btn-success rmargin">{{contentType.name}}</button>
          </span>
        </div>


        <button (click)="onCancelContentAdd()"
              class="btn btn-success rmargin">cancel</button>


        <app-forms *ngIf="isFormDataAvailable" [questions]="questions" [onCancelHandler]="onCancelContentAdd" [onSubmitHandler]="onSubmitContentAdd"></app-forms>
      </div>
    </div>
  </div>

</div>