<div class="row">
  <div class="col-md-12">
    <div class="card admin-create-instance">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Add Content Instance
      </div>
      <div class="card-body">
        <div *ngIf="!isFormDataAvailable">
          <h4>Select content type to add:</h4>
          <hr>
          <p *ngFor="let contentType of contentTypes">
            <button (click)="loadContentInstanceForm(contentType.systemid)"
              class="btn btn-success">{{contentType.name}}</button> {{contentType.description}}
          </p>
        </div>
        <app-forms *ngIf="isFormDataAvailable" [questions]="questions" [onSubmitHandler]="onSubmitContentAdd"></app-forms>
      </div>
    </div>
  </div>

</div>