---
import { apiConfig } from "../../../db/routes";
import { getFieldDefinitions } from "../../../services/fields";
import TextField from "./fields/text-field.astro";
import TextArea from "./fields/text-area.astro";

const { record, title = "Edit" } = Astro.props;
const { form } = Astro.params;
const tableConfigRecord = apiConfig.find((t) => t.route === form);
const tableConfig = getFieldDefinitions(tableConfigRecord, record);
---

<form method="post">
  <div class="space-y-12 mx-auto max-w-7xl">
    <div class="border-b border-white/10 pb-12">
      <h2 class="text-base font-semibold leading-7 text-white">
        {title}
        {tableConfigRecord.name}
      </h2>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-4">
          {
            tableConfig.formFields.map((field) => (
              <div class="mt-4">
                <TextField field={field} />
                <TextArea field={field} />
              </div>
            ))
          }

          <div class="mt-6 flex items-center justify-end gap-x-6">
            <button
              type="button"
              class="text-sm font-semibold leading-6 text-white">Cancel</button
            >
            <button
              type="submit"
              class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
              >Save</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
