<nav class="page-builder-nav">
  <ul class="nav">
    <li class="nav-item">

      <a class="nav-link" href="/admin">
        <i class="nav-icon fa fa-dashboard"></i>
        < Back <!-- <span class="badge badge-primary">NEW</span> -->
      </a>
    </li>

    <li class="nav-title">Template</li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link" (click)="refresh">
        <i class="nav-icon fa fa-home"></i> Settings</a>
    </li>

    <li class="nav-title">Page Builder</li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link" (click)="refresh">
        <i class="nav-icon fa fa-home"></i> Refresh</a>
    </li>

    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-puzzle"></i> Layout</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item" *ngFor="let section of sections">
            <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-puzzle"></i> Section {{section.sectionId}}</a>
            <div class="section-edit">
              <div>row 1</div>
              <div>row 1</div>

            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)='addSection()'>
              <i class="nav-icon icon-puzzle"></i> Add Secton</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" (click)='insertShortCode()'>
                <i class="nav-icon icon-puzzle"></i> Insert Shortcode</a>
            </li>
        <li class="nav-item">
          <a class="nav-link" (click)='saveContent()'>
            <i class="nav-icon icon-puzzle"></i> Save</a>
        </li>
      </ul>
    </li>

  </ul>
</nav>

<button class="sidebar-minimizer brand-minimizer" type="button"></button>