<nav class="page-builder-nav">
  <ul class="nav">
    <li class="nav-item">

      <a class="nav-link" href="/admin">
        <i class="nav-icon fa fa-dashboard"></i>
        < Back <!-- <span class="badge badge-primary">NEW</span> -->
      </a>
    </li>

    <li class="nav-title">Template</li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link" (click)="refresh">
        <i class="nav-icon fa fa-home"></i> Settings</a>
    </li>

    <li class="nav-title">Page Builder</li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link" (click)="refresh">
        <i class="nav-icon fa fa-home"></i> Refresh</a>
    </li>

    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-puzzle"></i> Layout</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item" *ngFor="let section of sections">
          <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-puzzle"></i> {{section.data.title}}</a>
          <div class="container">
            <div class="{{row.class}}" *ngFor="let row of section.data.rows">
              <div class="{{column.class}}" *ngFor="let column of row.columns">
                <button type="button" class="btn btn-primary">
                  <!-- // *ngFor="let content of column.content"> -->
                  Blocks <span class="badge badge-light">2</span>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)='addSection()'>
            <i class="nav-icon icon-puzzle"></i> Add Secton</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)='insertShortCode()'>
            <i class="nav-icon icon-puzzle"></i> Insert Shortcode</a>
        </li>



        <li class="nav-item">
          <a class="nav-link" (click)='saveContent()'>
            <i class="nav-icon icon-puzzle"></i> Save</a>
        </li>

      </ul>
    </li>

  </ul>

  <button class="nav-link" data-toggle="modal" id="wysiwygModalTrigger">
    <i class="nav-icon icon-puzzle"></i> Open WYSIWYG</button>

</nav>

<button class="sidebar-minimizer brand-minimizer" type="button"></button>

<!-- Modal -->
<div class="modal fade admin-field-add" id="wysiwygModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Block 1234</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <quill-editor (change)="onContentChanged($event)" (ready)="alert('ready')"></quill-editor>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>