.pricing {
  .pricing-value {
    .price {
      &:before {
        left: auto;
        right: -15px;
      }

      &:after {
        position: relative;
        content: "/mo";
      }
    }
  }
}
