
<div class="home-gallery" itemscope itemtype="http://schema.org/ImageGallery">

    {{#each data.files}}

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{this.data.url}}" itemprop="contentUrl" data-size="1280x1000">
            <img src="{{this.data.thumbUrl}}" class="thumbnail" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption class="title" itemprop="caption description">{{this.data.title}}<span class="description">{{this.data.description}}</span></figcaption>
    </figure>

    {{/each}}


    {{!-- <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="large-image.jpg" itemprop="contentUrl" data-size="600x400">
            <img src="small-image.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
        <figcaption itemprop="caption description">Image caption</figcaption>
    </figure> --}}


</div>




