.payment-services-header {
  .shape-main {
    position: absolute !important;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -9;
    width: 100%;
    transform-style: preserve-3d;
    background-image: linear-gradient(
      45deg,
      $color-1-light-4x 0,
      $color-1-light-5x 35%,
      lighten($color-1-light-5x, 8%) 100%
    );

    .bottom-edge {
      position: absolute;
      left: 0;
      top: auto;
      right: 0;
      bottom: -20px;
      width: 100%;
      height: 60px;
      background-color: #fff;
      transform: rotate(2deg);
    }

    @include media-breakpoint-up($grid-float-breakpoint) {
      width: 65%;
    }
  }

  .figure-box {
    max-width: 500px;

    .screens {
      overflow: hidden;
      position: relative;
    }

    @include media-breakpoint-up($grid-float-breakpoint) {
      margin-right: 0;
      transform: translate3d(25%, 0, 0);
    }

    .position-absolute {
      top: 0;
    }

    &.cutout {
      &:after {
        z-index: 0;
      }
    }
  }

  .static {
    &-shape {
      position: absolute;

      &.pattern {
        &-dots {
          top: 0;
          left: 10%;
          width: 75%;
          height: 200px;
          @include pattern-dots(3px, 20px, rgba($color-primary, 0.5));
        }
      }
    }
  }

  .promo-box {
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;

    @include media-breakpoint-up($grid-float-breakpoint) {
      width: auto;
      position: absolute;
      left: -100px;
    }
  }
}
