// flag

main {
  padding: 80px 15px 0;
}
.home .hero {
  background: blue;
}
.home .bg-image {
  background-image: url("https://sonicjscom.s3.amazonaws.com/american-flag1.jpg");
  height: 600px;
  background-size: cover;
}
.home .bg-image .mask{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);


}

.bg-dark {
    --bs-bg-opacity: .5;
    background-color: #B22234 !important;
}