body {
font-size: 24px;
line-height: 2rem
}

.navbar-nav {
font-size: 1.1rem
}

main {
padding: 64px 0 0
}

.home .hero {
background: blue
}

.home .bg-image {
background-image: url("https://sonicjscom.s3.amazonaws.com/american-flag1.jpg");
height: 600px;
background-size: cover
}

.home .mask {
height: 100%;
background-color: rgba(0,0,0,0.6)
}

.bg-dark {
--bs-bg-opacity: .5;
background-color: #B22234!important
}

h1 {
font-weight: bold;
font-size: 3rem
}

span[class^="vol"] {
font-size: 4rem;
font-weight: bold;
color: #3C3B6E;
font-family: verdana
}

.vol2 {
color: #B22234!important
}

section[data-id="12"] {
background-image: url(https://sonicjscom.s3.amazonaws.com/bannerpolitic.jpeg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover
}

section[data-id="36"] {
background-image: url(https://sonicjscom.s3.amazonaws.com/american-flag1.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover
}

.home-signup .home-signup {
background-color: #fff;
color: #000;
font-weight: bold
}

section[data-id="36"] .formio-form {
font-size: 1rem
}

section[data-id="14"] {
background: rgb(60,59,110);
background: radial-gradient(circle,rgba(60,59,110,1) 45%,rgba(60,59,110,0.9094012605042017) 100%);
color: #fff
}

.donation-list {
margin: 0 0 0 6rem
}

.card-header {
font-size: .9rem;
line-height: 1.5rem
}

.card-header {
font-size: .9rem;
line-height: 1.5rem
}

.home .card img{
    max-height:155px;
}

.card-text {
font-size: 1rem;
line-height: 1.5rem
}