<div id="ap-mini-layout" class="mr-md-3">

    <div class="row" v-bind:id="row.id" v-for="row in rows">
        <!-- <div v-bind:class="{ 'col-6': column === 6, 'col-3': column === 3 }" v-for="column in row.columns">\{{ column }}</div> -->
        <div v-for="column in row.columns" v-bind:class="column.class" ><div class="preview">\{{ column.class }}</div></div>
    </div>

    
    <div>
        <button v-on:click="addRow" class="btn btn-outline-light btn-block">Add Row</button>
        <div class="line"></div>
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-outline-light">Cancel</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-outline-light float-right">Save</button>
            </div>
        </div>
    
    </div>
</div>

<script>
    // requirejs(['vue'], function(Vue) {

    var app = new Vue({
        el: '#ap-mini-layout',
        data: {
            rows: [{
                    "columns": [{"class": "col-6"}, {"class": "col-6"}],
                    "id": "123asd"
                },
                {
                    "columns": [{"class": "col-3"}, {"class": "col-3"}, {"class": "col-3"}, {"class": "col-3"}],
                    "id": "234dgg"
                },
                {
                    "columns": [{"class": "col-9"}, {"class": "col-3"}],
                    "id": "87234dgg"
                }
            ],
            isActive: true
        },
        computed: {
            classObject: function (column) {
                console.log(column);
                return {
                    'test123' : true
                }
            }
        },
        methods: {
            addRow: function (event) {
                let row = {
                    "columns": [{"class": "col-3"}, {"class": "col-3"}, {"class": "col-3"}, {"class": "col-3"}],
                    "id": "234dgg"
                };
                this.rows.push(row);
            }
        }
    })
// });
</script>