/* ==========================================================================
    [6. ANIMATIONS]
========================================================================== */

@import "animations/bubbles";
@import "animations/keyframes";
@import "animations/animation";
