.home-gallery figure {
    height: 120px;
    float: left;
    margin: 0 12px 12px 0;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.home-gallery figure .title {
    display: none;
}

.home-gallery .thumbnail {
    height: 100%;
}

.pswp__caption__center{
    font-size: 2.4rem;
    max-width: 80%;
    font-weight: 800;
}

.pswp__caption__center .description{ 
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0 0 0 20px;

}