<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Manage Fields

      </div>
      <div class="card-body">
        <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"> -->

        <table class="table table-responsive-sm table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>Label</th>
              <th>Preview</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- {{#each contentType.fields}} -->
            <button (click)="toggleTest()" >Toggle Test</button>
            <tr *ngFor='let field of this.contentTypesService.contentType?.fields'>
              <td>
                {{field.fieldType}}
              </td>
              <td>
                  {{field.label}}
                <!-- <input type="text" #labelInput class="form-control" placeholder="Label goes here" (blur)="saveLabel(field, labelInput.value)" value="{{field.label}}"> -->
              </td>
              <td>
                <div [innerHTML]="this.fieldTypesService.generateHtml(field) | safe: 'html'"></div>
              </td>
              <td>
                  <button (click)="goToFieldEdit(field.id)"  data-toggle="aside-menu-lg-show" class="btn btn-sm btn-primary rmargin aside-menu-toggler">
                    <i class="fa fa-pencil"></i>
                  </button>
                <button class="btn btn-sm btn-danger" (click)="deleteField(field.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>

            </tr>
          </tbody>
        </table>

        <button _ngcontent-c0="" class="navbar-toggler aside-menu-toggler d-md-down-none" data-toggle="aside-menu-lg-show" type="button"><span _ngcontent-c0="" class="navbar-toggler-icon"><click to open</span></button>
        <!-- </form> -->
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#addFieldModal">
          Add Field
        </button>
      </div>
    </div>

  </div>
  <!--/.col-->
</div>

<!-- Modal -->
<div class="modal fade admin-field-add" id="addFieldModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Field To Content Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table table-responsive-sm table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Preview</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fieldType of fieldTypes">
              <td>
                {{ fieldType.name }}
              </td>
              <td>
                <div [innerHTML]="fieldType.generateHtml() | safe: 'html'"></div>
              </td>
              <td>
                <button class="btn btn-sm btn-primary" (click)="addField($event, fieldType)">Add</button>
                <button class="btn btn-sm btn-primary" (click)="refresh($event, fieldType)">Refresh</button>

              </td>

            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
