<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Total: {{data.count}}
      <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#newContentModal">
        New Content
      </button>
    </div>
    <div class="card-body page-list">

          {{#each data}}
{{this}}</br>
          {{/each}}
  
    </div>
  </div>
</div>