<div class="row">
  <div class="col-md-12">
    <div class="card admin-create-instance">
      <div class="card-header">
        <i class="fa fa-align-justify"></i>
        Edit Site Settings
      </div>

      {{#each this.data}}
        <div class="card-body mb-5">

          <h5 ">{{this.title}}</h5>

          {{{this.editForm.html}}}
          <hr>
        </div>
      {{/each}}

    </div>
  </div>

</div>