<style>
  body{
    font-size: 1.2rem;
  }
  p{
    margin: 30px 0;
  }
  .checkbox-label {
    margin: -8px 2px 0 12px;
}
</style>
<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-8 logo-center">
      <a class="navbar-brand" href="/">
        <img src="/assets/uploads/sonicjs-logo-white.svg" alt="" width="600">
      </a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">

      <form action="/register-admin-optin" method="post">

        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Welcome</h1>
            <p class="text-muted">Thank you for installing SonicJs. Be sure to check out the docs as you are getting up to speed here: 
              <a target="blank" href="https://sonicjs.com/docs">https://sonicjs.com/docs</a></p>

              <p class="text-muted">If you'd like to stay up to date with exciting updates that we have in the works and feedback requests, 
                join our mailing list (just useful announcements, <b>no spam!</b>) </p>

       
            <div class="input-group mb-4 terms-wrapper">              
              <input type="checkbox" name="agreeToFeedback" id="agreeToFeedback" checked="checked">
              <label class="checkbox-label" for="agreeToFeedback">Sign up for our mailing list</label>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input class="form-control" type="text" name="email" id="email" value="{{data.email}}" placeholder="Email">
            </div>   

          </div>
          <div class="card-footer p-4">

            <div class="row">
              <div class="col-12">
                <button class="btn btn-block btn-success" type="submit">Continue</button>
              </div>
            </div>

          </div>
        </div>

      </form>

    </div>
  </div>
</div>