<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-8 logo-center">
      <a class="navbar-brand" href="/">
        <img src="/assets/uploads/sonicjs-logo-white.svg" alt="" width="600">
      </a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <h1>Login</h1>
            <p class="text-muted">Sign In to your account</p>

            {{#if data.error }}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Oh snap!</strong> {{{ data.error }}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {{/if}}

            {{#if data.message }}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Success!</strong> {{{ data.message }}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {{/if}}

            <div class="alert alert-login alert-danger hide" role="alert"></div>

            <form action="/login" method="post">

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-user"></i>
                  </span>
                </div>
                <input class="form-control" id="email" type="email" name="username" type="text" placeholder="Email" required>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input class="form-control" id="password" name="password" type="password" placeholder="Password" required>
              </div>
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-login px-4" id="login-submit" type="submit">Login</button>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn-link btn-link-login px-0" type="button">Forgot password?</button>
                </div>
              </div>

            </form>

          </div>
        </div>
        <div class="card text-white bg-login py-5 d-md-down-none" style="width:44%">
          <div class="card-body text-center">
            <div>
              <h2>Register</h2>
              <p>Create your admin account manage your site users, content and settings.</p>
              <a href="/register" class="btn btn-login active mt-3" type="button">Register Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
