.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;

  svg {
    path {
      transition: .1s;
    }

    &:hover path {
      d: path("M 800 300 Q 400 250 0 300 L 0 0 L 800 0 L 800 300 Z");
    }
  }
}
