.pb-wrapper {
  display: flex;
  height: 100vh;
}

.pb-wrapper .tools {
  flex: 0 0 auto;
  background: #2f353a;
}

.pb-wrapper .content {
  /* flex: 1 1 auto;
    overflow: auto; */
}

.page-builder-nav {
  display: block;
}

.sidebar .nav-link {
  font-size: 14px;
}

.page-builder-nav, .sidebar {
  width: 260px;
}

/* page mods for selection */

.row {
  margin: 20px;
}

div[class^="col"]:hover {
  margin: 20px;
}

/* page interactions */

.row:hover {
  border: 1px dashed red;
  cursor: pointer;
}

div[class^="col"]:hover {
  border: 1px dashed blue;
  cursor: pointer;
}

/* hide/modify regular admin skin */

.app-header, .app-footer, .breadcrumb {
  display: none !important;
}

.header-fixed .app-body {
  margin-top: 0;
}

.sidebar-fixed .app-header+.app-body .sidebar {
  height: 100vh;
}

.sidebar-nav {
  display: none;
}