<div class="row">
  <div class="col-md-12">
    <div class="card admin-create-instance">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Create Instance

      </div>
      <div class="card-body">

        <app-forms *ngIf="isDataAvailable" [questions]="questions"></app-forms>


        <!-- <form id="createInstanceForm" class="form-horizontal"> -->
        <!-- <form [formGroup]="instanceForm" (ngSubmit)="createInstance()">
          <label>
            First Name:
            <input type="text" formControlName="firstName">
          </label>


          <input type="hidden" name="contentTypeId" value="{{this.contentTypesService.contentType?.id}}" />
          <table class="table table-responsive-sm table-striped">
            <tbody>
              <tr>
                <td>Title</td>
                <td>
                  <input type="text" name="title" placeholder="Enter content title" class="form-control">
                </td>
              </tr>
              <tr>
                <td>Url</td>
                <td>
                  <input type="text" name="url" placeholder="Enter content url" class="form-control">
                </td>
              </tr>
              <tr *ngFor='let field of this.contentTypesService.contentType?.fields'>
                <td>{{field.label}} {{field.fieldType}}</td>
                <td>
                  <div [innerHTML]="this.fieldTypesService.generateHtml(field) | safe: 'html'"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </form> -->
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success pull-right" (click)="createInstance()">
          Create Content
        </button>
      </div>
    </div>

  </div>
  <!--/.col-->
</div>
