<video
    id="my-player"
    class="video-js vjs-fluid"
    controls
    preload="auto"
    poster="{{ data.posterImageUrl }}"
    data-setup='{}'>
  <source src="{{ data.videoUrl }}" type="video/mp4"></source>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank">
      supports HTML5 video
    </a>
  </p>
</video>