<div [formGroup]="form" class="form-group row">

  <label *ngIf="showLabel" [attr.for]="question.key" class="col-md-3 col-form-label">{{question.label}}</label>

  <div [ngSwitch]="question.controlType" class="col-md-9">

    <input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type" class="form-control">

    <input *ngSwitchCase="'hidden'" style="background-color:yellow;" [formControlName]="question.key" [id]="question.key" class='hidden' type="hidden" class="form-control">

    <textarea *ngSwitchCase="'textarea'" [formControlName]="question.key" [id]="question.key" class='hidden' rows="4" cols="50" class="form-control"></textarea>

    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key" class="form-control">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>

</div>
