<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card admin-content-type-edit">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Edit Content Type
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Title</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Title" value="{{this.contentTypesService.contentType?.name}}">
                <!-- <span class="help-block">This is a help text</span> -->
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
              <div class="col-md-9">
                <textarea id="textarea-input" value="{{this.contentTypesService.contentType?.description}}" name=" textarea-input"
                  rows="3" class="form-control" placeholder="Content, text or html..."></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" v-on:click="saveContentType" class="btn btn-primary pull-right">
            Save</button>
          <button type="submit" v-on:click="saveContentType" class="btn btn-danger pull-right" style="margin-right:1.5rem">
            Delete</button>
          <button type="reset" class="btn btn-warning">
            Cancel</button>
        </div>
      </div>

    </div>
    <!--/.col-->
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#fields" role="tab" aria-controls="home"
        aria-selected="true">Fields</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " id="profile-tab" data-toggle="tab" href="#views" role="tab" aria-controls="profile"
        aria-selected="false">Views</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " id="profile-tab" data-toggle="tab" href="#permissions" role="tab" aria-controls="profile"
        aria-selected="false">Permissions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="contact"
        aria-selected="false">Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#create" role="tab" aria-controls="contact"
        aria-selected="false">Create Instance</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="fields" role="tabpanel" aria-labelledby="home-tab">
      <app-content-type-edit-fields></app-content-type-edit-fields>
    </div>
    <div class="tab-pane fade show " id="views" role="tabpanel" aria-labelledby="profile-tab">
      <app-content-type-edit-views></app-content-type-edit-views>
    </div>
    <div class="tab-pane fade show " id="permissions" role="tabpanel" aria-labelledby="profile-tab">
      <app-content-type-edit-permissions></app-content-type-edit-permissions>
    </div>
    <div class="tab-pane fade show " id="settings" role="tabpanel" aria-labelledby="contact-tab">
      <app-content-type-edit-settings></app-content-type-edit-settings>
    </div>
    <div class="tab-pane fade show" id="create" role="tabpanel" aria-labelledby="home-tab">
      <app-content-type-edit-create-instance></app-content-type-edit-create-instance>
    </div>
  </div>

</div>

<!-- <script type="text/javascript">
  var contentTypeSave = new Vue({
    el: '.admin-content-type-edit',
    data: {
      title: '{{ contentType.title }}',
      description: '{{ contentType.description }}',
      debug: true,
      domain: '',
      ajaxRequest: false,
      postResults: []
    },
    // define methods under the `methods` object
    methods: {
      saveContentType: function (event) {

        console.log('saving:' + this.title);
        axios.post('/admin/content-types/{{contentType._id}}', {
            title: this.title,
            description: this.description
          })
          .then(function (cotentType) {
            console.log(cotentType);
            var getUrl = window.location;
            window.location.href = getUrl.protocol + "//" + getUrl.host + '/admin/content-types';
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    }
  })
</script> -->
