<div class="row">
{{#each list}}
  <div class="col text-{{../data.textJustification}}">
    <img class="img-fluid" src="{{this.data.imageUrl}}" />
    <h3>{{this.data.title}}</h3>
    {{{this.data.body}}}
  </div>
{{/each}}
</div>