<div class="row">
        <div class="col-md-12">
          <div class="card admin-block-add">
            <div class="card-header">
              <strong>Basic Form</strong>
              Elements
            </div>
            <div class="card-body">
              <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Title</label>
                  <div class="col-md-9">
                    <input type="text" id="text-input" v-model="title" name="text-input" class="form-control" placeholder="Title">
                    <!-- <span class="help-block">This is a help text</span> -->
                  </div>
                </div> 
              
                
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="textarea-input">Html Markup</label>
                  <div class="col-md-9">
                    <textarea id="textarea-input" v-model="content" name="textarea-input" rows="9" class="form-control" placeholder="Content, text or html..."></textarea>
                  </div>
                </div>
               
              </form>
            </div>
            <div class="card-footer">
              <button type="submit" v-on:click="addBlock" class="btn btn-sm btn-primary">
                <i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-danger">
                <i class="fa fa-ban"></i> Cancel</button>
            </div>
          </div>
         
        </div>
        <!--/.col-->
      </div>

        <script type="text/javascript">
        
            var adminBlockAdd = new Vue({
                el: '.admin-block-add',
                data: {
                    title: '',
                    content: '',
                    debug: true,
                    domain: '',
                    ajaxRequest: false,
                    postResults: []
                },
                // define methods under the `methods` object
                methods: {
                    addBlock: function (event) {
        
                        // console.log('title:' + this.title);
                        axios.post('/admin/block/add', {
                                title: this.title,
                                content: this.content
                            })
                            .then(function (block) {
                                console.log(block);
                                var getUrl = window.location;
                                window.location.href = getUrl.protocol + "//" + getUrl.host + '/admin/blocks';
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
        
                    }
                }
            })
        
        </script>