<div class="pb-wrapper">
    <!-- <div class="tools">
        <app-page-builder-editor></app-page-builder-editor>
    </div> -->
    <!-- <object data="http://localhost:3000" width="600" height="400">
        <embed src="http://localhost:3000" width="600" height="400">
        Error: Embedded data could not be displayed.
    </object> -->
    <!-- <link rel="import" href="http://localhost:3000">
    <object data="http://localhost:3000" width="400" height="300" type="text/html">
        Alternative Content
    </object> -->
    <!-- <iframe src="http://localhost:3000" height="100%" width="100%"></iframe>  -->

    <iframe (load)="loadPageIntoIframe()" height="100%" width="100%"></iframe> 


    <!-- <button class="btn btn-primary" type="button" (click)="refresh()">Refresh</button> -->

    <!-- <div class="content">
        <div *ngIf='html' [innerHTML]="html | safe: 'html'"></div>
    </div> -->
</div>