@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

.pb-wrapper{
width:260px;
height: 100%;
position: absolute;
left: 0;
top: 0;
background: #F8F8F8;
}

.pbe-wrapper{
    width: 240px;
    padding: 15px 30px;
    color:#fff;
}

.page-builder-nav, .sidebar {
    width: 260px;
    padding: 6px;
  }

  .mini-layout .row{
    border: 1px dashed #F8F8F8;
    margin: 2px;
    padding: 4px;
  }

  .mini-layout{
    margin: 0;
    padding: 0;
  }
  .mini-layout .row:hover{
    background: #222;
    cursor: pointer;
  }

  .section-edit .fa-ellipsis-h{
    margin: 0;
  }

  .section-edit{
    margin: 0 12px 0 0;
  }

  .popover-header {
    background-color: #2f353a !important;
}
hr { 
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid #ccc;
  margin: 1em 0; 
  padding: 0;
}

.header{
  background: #eee;
  color: #222;
  padding: 4px 0;
  font-size: .6em;
  padding: .5rem 1rem;
}

.nav{
  list-style: none;
}

.page .nav-link{
  height: 54px;
}

.page .nav-link span{
  line-height: 38px;
  margin: 0 0 0 12px;
}

.pb-section{
  width:100%;
}

.nav-title{
  display: block;
  width: 100%;
  padding: 6px;
  margin: 6px 0 0 6px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80%;
  letter-spacing: 3px;
}

.sidebar-minimizer {
  position: absolute;
  flex: 0 0 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.sidebar-minimizer::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12.5px;
  transition: .3s;
}