.pb-wrapper{
width:300px;
height: 100%;
position: absolute;
left: 0;
top: 0;
background: #eee;
}

body, .fixed-top{
  margin-left: 300px;
}

.pbe-wrapper{
    width: 240px;
    padding: 15px 30px;
    color:#fff;
}

.page-builder-nav, .sidebar {
    width: 260px;
  }

  .mini-layout .row{
    border: 1px dashed #ccc;
    margin: 2px;
    padding: 4px;
  }

  .mini-layout{
    margin: 0;
    padding: 0;
  }
  .mini-layout .row:hover{
    background: #222;
    cursor: pointer;
  }

  .section-edit .fa-ellipsis-h{
    margin: 0;
  }

  .popover-header {
    background-color: #2f353a !important;
}
hr { 
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid #ccc;
  margin: 1em 0; 
  padding: 0;
}

.header{
  background: #ccc;
  color: #222;
  padding: 4px 0;
  font-size: .6em;
  padding: .5rem 1rem;
}