<header class="section header text-contrast automate-social-header">
  <div class="shape-wrapper">
    <div
      class="shape shape-background shape-main gradient gradient-blue-purple"
    ></div>
    <div class="shape shape-background shape-main shadow"></div>
    <div class="shape shape-background shape-top"></div>
    <div class="shape shape-background shape-right"></div>
  </div>

  <!-- <div class="container overflow-hidden">
    <div class="row gap-y">
        <div class="col-lg-6">
            <h1 class="text-contrast extra-bold display-md-3 display-lg-2 font-lg mb-5">Automate <span class="d-block light font-md">campaign management</span></h1>
            <p class="text-contrast lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore excepturi explicabo, harum in laudantium nulla officiis reprehenderit!</p>
            <form action="srv/register.php" class="form" data-response-message-animation="slide-in-left" novalidate>
                <div class="input-group-register py-4"><input type="email" name="Subscribe[email]" class="form-control shadow-lg bg-contrast form-control-rounded" placeholder="Enter your email" required=""> <button class="btn btn-rounded btn-primary btn-lg text-capitalize" type="submit">Start Free Trial</button></div>
            </form>
            <div class="response-message"><i class="fas fa-envelope font-lg"></i>
                <p class="font-md m-0">Check your email</p>
                <p class="response">We sent you an email with a link to get started. You’ll be in your account in no time.</p>
            </div>
        </div>
    </div>
</div> -->

  <div class="container overflow-hidden">
    <div class="row gap-y">
      <div class="col-md-8">
        <h1
          class="text-contrast extra-bold display-md-3 display-lg-2 font-lg mb-5 mt-5"
        >
          {{ data.title }}
          <span class="d-block light font-md">{{ data.subTitle }} </span>
        </h1>
        <p class="text-contrast lead">{{{ data.tagline }}}</p>

        <form
          action="/form-submission"
          class="form"
          data-response-message-animation="slide-in-left"
          novalidate
        >
          <div class="input-group-register py-4">
            <input
              type="hidden"
              name="contentType"
              value="newsletter"
            />
            <input
              type="email"
              name="email"
              class="form-control shadow-lg bg-contrast form-control-rounded"
              placeholder="Enter your email"
              required=""
            />
            <button
              class="btn btn-rounded btn-primary btn-lg text-capitalize newsletter-submit"
              type="submit"
            >
              Join Us
            </button>
          </div>
        </form>
      </div>

      <div class="col-md-4">
        <div data-aos="fade-up">
          <img
            src="/assets/uploads/ocunite-stop-corruption-sm.jpeg"
            class="img-responsive main-shape floating rounded"
            alt=""
          />
        </div>
      </div>

    </div>
  </div>



  <!-- <div class="main-shape-wrapper">
    <div class="bubbles-wrapper">
      <div data-aos="fade-up">
        <img
          src="/assets/uploads/stop-corruption.jpeg"
          class="img-responsive main-shape floating"
          alt=""
        />
      </div>
    </div>
  </div> -->
</header>

{{{ data.body }}}
