<header class="section header text-contrast automate-social-header">
  <div class="shape-wrapper">
    <div
      class="shape shape-background shape-main gradient gradient-blue-purple"
    ></div>
    <div class="shape shape-background shape-main shadow"></div>
    <div class="shape shape-background shape-top"></div>
    <div class="shape shape-background shape-right"></div>
  </div>
  <div class="container overflow-hidden">
    <div class="row gap-y">
      <div class="col-lg-6">
        <h1
          class="text-contrast extra-bold display-md-3 display-lg-2 font-lg mb-5"
        >
          {{ data.title }}
          <span class="d-block light font-md">{{ data.subTitle }}
        </span>
        </h1>
        <p class="text-contrast lead">
            {{ data.body }}
        </p>
        <form
          action="srv/register.php"
          class="form"
          data-response-message-animation="slide-in-left"
          novalidate
        >
          <div class="input-group-register py-4">
            <input
              type="email"
              name="Subscribe[email]"
              class="form-control shadow-lg bg-contrast form-control-rounded"
              placeholder="Enter your email"
              required=""
            />
            <button
              class="btn btn-rounded btn-primary btn-lg text-capitalize"
              type="submit"
            >
              Start Free Trial
            </button>
          </div>
        </form>
        <div class="response-message">
          <i class="fas fa-envelope font-lg"></i>
          <p class="font-md m-0">Check your email</p>
          <p class="response">
            We sent you an email with a link to get started. You’ll be in your
            account in no time.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="main-shape-wrapper">
    <div class="bubbles-wrapper">
      <div data-aos="fade-up">
        <img
          src="img/v8/header/main-shape.svg"
          class="img-responsive main-shape floating"
          alt=""
        />
      </div>
      <ul class="animations m-0">
        <li class="bubble icon icon-xxl">
          <img src="img/v8/header/like.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-xl">
          <img src="img/v8/header/smile.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-lg">
          <img src="img/v8/header/heart.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-xl">
          <img src="img/v8/header/heart.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-xxl">
          <img src="img/v8/header/smile.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-xl">
          <img src="img/v8/header/like.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-xxl">
          <img src="img/v8/header/smile.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-xl">
          <img src="img/v8/header/heart.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-lg">
          <img src="img/v8/header/smile.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-xl">
          <img src="img/v8/header/like.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-xxl">
          <img src="img/v8/header/like.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-xl">
          <img src="img/v8/header/heart.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-xxl">
          <img src="img/v8/header/like.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-xl">
          <img src="img/v8/header/heart.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-lg">
          <img src="img/v8/header/smile.svg" alt="" class="img-responsive" />
        </li>
        <li class="bubble icon icon-xl">
          <img src="img/v8/header/like.svg" alt="" class="img-responsive" />
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- Features Carousel -->
