.dropdown-menu {
    width: 400px;
}

.column-options {
    background-color: #2f353a;
    color: #fff;
    text-align: center;
    border-radius: 1rem;
    padding: 12px 0;
    border: 10px solid #fff;
}

.dropdown-item:hover{
    cursor: pointer;
}
/* .preview-rows .row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.preview-rows [class^="col"] {
    margin-right: 20px
} */