<!-- <div [formGroup]="form"> -->
  <input type="text" name="testPost" id="testPost" value="ipsume77">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> Layout
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Preview
      </label>
    <label class="btn btn-primary">
      <input type="radio" name="options" id="option2" autocomplete="off"> Content
    </label>
  </div>
  <div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-plus-circle"></i> Row
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)='addRow(columnOption)' *ngFor="let columnOption of columnOptions">
        <div class="container">
          <div class="row">
            <div *ngFor='let column of columnOption' class="{{column}}">
              <div class="column-options">
                {{column}}
              </div>
            </div>
          </div>
        </div>
      </a>

    </div>
  </div>
  <div class="container preview-rows">
    <div *ngFor='let row of formService.layout.rows' class="{{row.class}}">
      <div *ngFor='let column of row.columns' class="{{column.class}} column-options">{{column.class}}
        <div *ngFor='let block of column.blocks' class="block">[block id='{{block.id}}']</div>
      </div>
    </div>
  </div>
  <div>
    <a (click)="wrapTag('b')" class="btn btn-secondary">B</a>
    <a (click)="wrapTag('i')" class="btn btn-secondary">I</a>
    <a (click)="wrapTag('u')" class="btn btn-secondary">U</a>
    <a (click)="insert('<button>')" class="btn btn-secondary">btn</a>

  </div>

  <textarea #t (select)="onSelect(t.selectionStart, t.selectionEnd)" id="layout" [value]="content" rows="4"
    class="form-control"></textarea>


<div *ngFor='let row of formService.layout.rows'>
    {{row.columns}}
</div>
  <!-- <span>{{selectedText}}<span> -->

  <!-- <textarea [formControlName]="question.key" [id]="question.key" class='hidden' rows="4" cols="50" class="form-control"></textarea> -->
<!-- </div>  -->