---

import EditorWrapper from '../../../../components/mdx-editor-wrapper'
const { field } = Astro.props;
---

{
  field.type === "mdxEditor" && (
    <div class="col-span-4">
      <label
        class="block text-sm font-medium leading-6 text-white"
      >
        {field.key}
      </label>
      <div class="mt-2 text-white" id={field.key}>
        <EditorWrapper client:only="react" field={field} value={field.value ?? ""} />
      </div>
      <p class="mt-3 text-sm leading-6 text-gray-400">
        Markdown editor with image, link, and list support. See <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank">Markdown Cheat Sheet</a> for syntax.
      </p>
    </div>
  )
}
