<section class="pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-7">
                <h4 class="text-center pb-3">What can SonicJs do for you?</h4>
                <h1 class="text-center pb-5">SonicJs Vs Custom Development</h1>
                <h2 class="text-center pb-5">SonicJs is your new secret weapon, slashing <span class="highlight">development effort by up to 40%</h2>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-9" data-ol-has-click-handler="">

                <h4>The comparison table below shows benefits of starting a development project with the SonicJs
                    platform versus starting from scratch.</h4>

                <div class="table-responsive compare-custom-wrapper pt-2" style="">
                    <table class="table table-striped text-successtable-border border-light">
                        <thead class="border-light">
                        <tr>
                            <th scope="col"></th>
                            <th class="text-center" scope="col"><strong>Custom Development</strong></th>
                            <th class="text-center" scope="col"><strong>SonicJs Platform</strong></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <th scope="row">Advanced UX/UI</th>
                            <td><i class="bi bi-check text-success"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">Integrations With Other Services/Platforms</th>
                            <td><i class="bi bi-check text-success"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">CRUD Operations
                            </th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">API Development
                            </th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">Caching</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">Data Entry Forms
                            </th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>

                        <tr>
                            <th scope="row">Content Management Tools</th>
                            <td><i class="bi bi-x text-danger"></i></td>
                            <td><i class="bi bi-check text-success"></i></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="overlay-fade"></div>
                </div>
                <div class="text-center mt-2"><a class="btn btn-primary btn-lg" href="/dev-compare">See Full Matrix</a></div>

            </div>
        </div>
    </div>
</section>
