:root {
  --white: #fff;
  --light-grey: #dfdfdf;
  --light-grey2: #f1f1f1;
  --medium-grey: #d8d8d8;
  --dark-grey: #989898;
  --very-dark-grey: ##404040;
  --side-panel-width: 360px;
  --highlight: #b3f1bf;
  --padding: 10px;
}
.pb-wrapper {
  display: flex;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  /* transition: left 1s; */
  z-index: 1;
}

.pb-wrapper.expanded {
  /* left:420px; */
}

.pb-wrapper.collapsed {
  display: none;
}

/* layout start */

.pb-wrapper {
  display: flex;
  width: 420px;
  min-height: 100%;
}

.pb-wrapper .left {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 0 0 60px;
  justify-items: center;
}

.pb-wrapper .left .top {
  padding: 10px 0 0;
  flex-grow: 1;
  text-align: center;
}

.pb-wrapper .left .bottom {
  padding: 10px 0 0;
  text-align: center;
}

.pb-wrapper .main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--light-grey2);
  flex: 1 1 0;
}

.pb-wrapper .main .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*   gap:20px; */
}

.pb-wrapper .main .header .icon {
  font-size: 26px;
  /* margin: 0 8px 0 22px; */
  padding: var(--padding);
}

.pb-wrapper .main .header .panel-title {
  flex-grow: 1;
  line-height: 60px;
}

.pb-wrapper .main .header .close {
  padding: var(--padding);
}

.pb-wrapper .main .breadcrumbs {
  border-top: solid 1px var(--white);
  padding: var(--padding);
}

.pb-wrapper .main .breadcrumbs .breadcrumb {
  margin: 0;
}

.pb-wrapper .main .content {
  flex-grow: 1;
  padding: var(--padding);
  border-top: solid 1px var(--white);
  border-bottom: solid 1px var(--white);
  overflow: auto;
}

.pb-wrapper .main .footer {
  text-align: right;
  padding: var(--padding);
}

.pb-wrapper .left .btn {
  width: 42px;
  background: #f1f1f1;
  margin: 0 0 10px 0;
}

.pb-wrapper .left .bottom a.sonic {
  background: #f8f9fa;
  width: 42px;
  height: 83px;
  position: relative;
}

.pb-wrapper .left .bottom a.sonic img {
  transform: rotate(-90deg);
  width: 60px;
  position: absolute;
  left: -10px;
  top: 37px;
}

/* layout end */

/* elements start */
#elements-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#elements-list h2 {
  font-size: 16px;
  width: 100%;
  margin: 1rem 0 0.5rem 6px;
}

#elements-list.hide {
  display: none;
}

.pb-wrapper .element-item {
  background: #fff;
  flex-grow: 1;
  margin: 4px;
  border: 1px dashed var(--medium-grey);
  text-align: center;
  cursor: move;
  width: 40%;
  padding: 4px;
}

.pb-wrapper .element-item i {
  font-size: 16px;
  display: block;
}

.pb-wrapper .element-item span {
  font-size: 12px;
  display: block;
}
/* elements end */

/* growl start */
.bootstrap-growl {
  font-weight: bold;
  /* border: #fff 10px dashed; */
}
/* growl end */

/* .pb-wrapper .left-sidebar {
  background-color: var(--white);

  flex: 0 0 60px;
  border-right: solid 1px var(--medium-grey);
}

.pb-wrapper .left-sidebar .middle {
  width: 60px;
  position: absolute;
  top: 0;
  margin: 8px 9px;
  align-items: center;
  justify-content: center; 
}

.pb-wrapper .left-sidebar .bottom {
  width: 60px;
  position: absolute;
  bottom: 0;
  margin: 8px 9px;
  /* display: flex;
  align-items: center;
  justify-content: center; 
}



.pb-wrapper .left-sidebar button {
  margin: 3px 0;
}

.pb-wrapper .left-sidebar .bottom button.sonic {
  background: #f8f9fa;
  width: 42px;
  height: 83px;
  position: relative;
}

.pb-wrapper .left-sidebar .bottom button.sonic img {
  transform: rotate(-90deg);
  width: 60px;
  position: absolute;
  left: -10px;
  top: 37px;
}

.pb-wrapper .main {
  width: var(--side-panel-width);
  background-color: var(--light-grey);
  flex-direction: column;
}

.pb-wrapper .main .header {
  flex-direction: row;
  align-items: center;
  line-height: 60px;
  font-size: 18px;
  border-bottom: var(--medium-grey) solid 1px;
}

.pb-wrapper .main .content {
  flex-grow: 1;
}

.pb-wrapper .main .footer {

} */

/* .sidebar-minimizer {
  position: absolute;
  flex: 0 0 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
} */

/* .pb-wrapper .main .header div{
  background-color: yellow;
}

.pb-wrapper .main .header .header-icon {
  font-size: 26px;
  margin: 0 8px 0 22px;
}

.pb-wrapper .main .header .close {
  right: 0;
}

.pbe-wrapper {
  width: var(--side-panel-width);
  padding: 15px 30px;
  color: #fff;
} */

.popover {
  font-weight: bold;
}

.pb-page {
  margin-left: 300px;
}

.expanded main,
.expanded .fixed-top,
.expanded footer {
  margin-left: 420px;
  /* transition: margin-left 1s; */
}

.page-builder-nav,
.sidebar {
  width: var(--side-panel-width);
}

.mini-layout .row {
  border: 1px dotted #f8f8f8;
  margin: 2px;
  padding: 4px;
}

.mini-layout {
  margin: 0;
  padding: 0;
}

.mini-layout .row:hover {
  background: #222;
  cursor: pointer;
}

.mini-layout .col:hover {
  background: #eee;
  cursor: pointer;
}

.section-edit .fa-ellipsis-h {
  margin: 0;
}

.section-edit {
  margin: 0 12px 0 0;
  padding: 0;
}

.btn-util {
  padding: 0 4px;
  margin: 6px 0 0 0;
}

.popover-header {
  background-color: #2f353a !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.pb .header {
  color: #000;
  padding: 0 0 4px 0;
  font-size: 1.1em;
}

.nav {
  list-style: none;
  color: #fff;
}

.page .nav-link {
  height: 45px;
  width: 258px;
}

.page .nav-link span {
  line-height: 38px;
  margin: 0 0 0 12px;
}

.pb-section {
  width: 100%;
  border: 1px solid transparent;
  color: #fff;
}

.pb-section:hover {
  background: #20a8d8;
}

.nav-title {
  display: block;
  width: 100%;
  padding: 6px;
  margin: 6px 0 0 6px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80%;
  letter-spacing: 3px;
}

.sidebar-minimizer:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12.5px;
  transition: 0.3s;
}

.opened {
  background: #6b5b95;
}

.hide {
  display: none;
}

section {
  border: 1px solid transparent;
}

.section-highlight {
  border: 1px solid #a2b9bc;
}

.row {
  border: 2px solid transparent;
}

.row-highlight {
  box-shadow: 0 0 0 2px var(--highlight) !important;
  outline: dashed 2px var(--highlight) !important;
}

.col-highlight {
  box-shadow: 0 0 0 2px var(--highlight) !important;
  outline: dashed 2px var(--highlight) !important;
}

.module.module-highlight {
  box-shadow: 0 0 0 2px var(--highlight) !important;
  outline: dashed 2px var(--highlight) !important;
}

.row {
  position: relative;
}

.row-button,
.col-button {
  /* display: none */
}

.row-button {
  position: absolute;
  left: -1px;
  bottom: -29px;
  z-index: 2;
}

.row-button .btn-secondary {
  background-color: yellowgreen;
}

.col-button {
  position: absolute;
  left: -2px;
  top: -34px;
}

.add-module {
  position: absolute;
  left: 115px;
  top: -34px;
}

.edit-module.top {
  position: absolute;
  right: -2px;
  top: -39px;
  z-index: 2;
  padding: 4px;
  background-color: var(--highlight);
}

.edit-module.bottom {
  position: absolute;
  right: -2px;
  bottom: -39px;
  z-index: 2;
  padding: 4px;
  background-color: var(--highlight);
}

#new-section {
  border: 5px dashed var(--highlight);
  margin: 40px;
}
.new-section .new-section-text {
  font-size: 16px;
  font-weight: bold;
}

.new-section .mini-layout {
  width: 80px;
  height: 40px;
  display: inline-flex;
  margin: 40px 12px 0;
}

.new-section .mini-layout > div {
  height: 89%;
  width: 100%;
  border: 2px dashed var(--dark-grey);
  margin: 2px;
}

.new-section .mini-layout:hover {
  cursor: pointer;
  background-color: var(--highlight);
}

.new-section .mini-layout.half > div {
  width: 50%;
}

.new-section .mini-layout.thirds > div {
  width: 33%;
}

.new-section .mini-layout.forths > div {
  width: 33%;
}

.new-section .mini-layout.left-sidebar > div:first-child {
  width: 33%;
}

.new-section .mini-layout.right-sidebar > div:last-child {
  width: 33%;
}

.new-section .mini-layout.both-sidebars > div {
  width: 33%;
}

.new-section .mini-layout.both-sidebars > div:nth-of-type(2) {
  width: 66%;
}

.module-button {
  right: 32px;
}

.col-button .btn-secondary {
  background-color: crimson;
}

.add-module .btn-secondary {
  background-color: slateblue;
}

.pb .module:hover {
  box-shadow: 0px 0px 0px 1px var(--highlight) inset;
}

.pb .current-section {
  box-shadow: 0px 0px 0px 4px var(--highlight) inset;
  border: 1px solid var(--highlight);
  position: relative;
}

.pb .section-add .btn {
  background-color: var(--highlight);
  border-color: var(--highlight);
}

.pb .section-add {
  position: absolute;
  left: 50%;
}

.pb .section-add.section-add-above {
  top: -18px;
}

.pb .section-add.section-add-below {
  bottom: -18px;
}

.pb section .col span,
.pb-section .nav-link,
.dropdown-menu .dropdown-item {
  cursor: pointer;
}

.pb section .module-move {
  cursor: move;
}

.pb section .col {
  border: 1px dotted transparent;
}

.pb section[id] .col:hover {
  border: 1px dotted var(--medium-grey);
  cursor: pointer;
}

.section-editor-button .btn {
  border-radius: 0;
  border: 0;
}

.block-edit {
  background-color: #a2b9bc;
}

#backgroundColorPreview {
  width: 100px;
  height: 30px;
  border: 1px solid #fff;
}

#editor.ace_editor {
  width: 255px;
  height: calc(100vh - 180px);
}

.editor-wrapper {
  background: green;
  height: 100%;
}

.section-wrapper {
  margin: 0 0 20px;
}

.btn-group.btn-section {
  width: 100%;
  margin: 0 1rem;
}

.module {
  position: relative;
}

.empty-column {
  font-size: 0.7em;
  color: #777;
  display: block;
  text-align: center;
  margin: 10px 0;
}

/* sortable */

.sortable-chosen {
  background: #fff;
}

.sortable-ghost {
  background: linear-gradient(
    -45deg,
    var(--highlight),
    #fff,
    var(--light-grey2),
    var(--highlight)
  );
  background-size: 400% 400%;
  animation: gradient-sortable-ghost 1s ease infinite;
}

@keyframes gradient-sortable-ghost {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Side Panel */

.pb-side-panel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50vw;
  /* height: 100vh; */
  z-index: 1030;
  background: #fff;
  border-left: 1px solid #666;
  color: #333;
}

.pb-side-panel .content {
  padding: 20px;
}

.pb-side-panel h5 {
  background: #666;
  color: #fff;
  padding: 20px 20px 0 20px;
  height: 69px;
}

.pb-side-panel.close {
  display: none;
  /* width: 0vw;
  opacity: 0;
  transition: width .5s, visibility 1s; */
}

.pb-side-panel .handle {
  position: relative;
}

.pb-side-panel .handle span {
  font-size: 40px;
  background: #fff;
  border: 1px solid #666;
  border-right: 1px solid #fff;
  position: absolute;
  left: -60px;
  top: 68px;
  width: 60px;
  padding-left: 16px;
  cursor: pointer;
}

.pb-side-panel-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1020;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.pb-side-panel-modal-backdrop.close {
  display: none;
}

.ck-balloon-panel {
  z-index: 1040 !important;
}

.content .nav-tabs {
  margin: 0 0 20px;
}

.sidebar-expander {
  position: fixed;
  top: calc(50% - 30px);
  left: -30px;
  width: 30px;
  height: 60px;
  background-image: url("/assets/img/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  background-color: var(--light-grey2);
  border: 0;
  /* transition: left 1s; */
  z-index: 10;
  padding: 40px 0;
  left: 0;
}

.sidebar-expander.expanded {
  left: 420px;
  transform: rotate(180deg);
}

.sidebar-expander:focus {
  outline: 0;
}

/* .pb-side-panel.close .handle span{
  display: none;
} */

.delete-data-preview {
  margin: 30px 0 0;
  width: 100%;
}

.delete-data-preview textarea {
  width: 100%;
  height: 400px;
}

.page-template-region {
  display: none;
  border: 6px dashed grey;
  text-align: center;
  line-height: 40px;
}

.pb .page-template-region {
  display: block;
}

.formio-component-modal-wrapper .open-modal-button {
  max-height: 60vh;
  overflow: auto;
}




.pb-wrapper {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pb-wrapper a {
  color: var(--very-dark-grey);
}

.pb-wrapper .nav-tabs .nav-link {
  padding-top: 8px;
  padding-bottom: 8px;
}

.open-admin.row {
  margin: 15px 0 8px 0;
}

.add-module-dropdown {
  -moz-column-count: 2;
  /* Firefox */
  -webkit-column-count: 2;
  /* Safari and Chrome */
  column-count: 2;
  /* width: 500px; */
  height: 640px;
}

.modal {
  color: #333;
}

.formio-component-submit {
  margin: 20px 0 0;
}

.pb-empty-section,
.empty-column {
  border: 6px var(--medium-grey) dashed;
  border-radius: 12px;
  padding: 90px;
  text-align: center;
}

.pb .accordion,
.pb .accordion-item {
  width: 100%;
}

.color-picker-append .pickr .form-control {
  margin: 0;
  border-bottom:1px red;
}

.pb .pickr .pcr-button {
  width: 100%;
  border: 1px solid #ced4da;
  border-top: none;

}

.pb-wrapper .white,
.pb-wrapper .white a {
  color: #fff !important;
}

.formio-component-form .has-success .help-block {
  display: none;
}
