.pb-wrapper {
  width: 260px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #2f353a;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  transition: left 1s;
  z-index: 1;
}

.pbe-wrapper {
  width: 240px;
  padding: 15px 30px;
  color: #fff;
}

.pb-page {
  margin-left: 300px;
}

main,
.fixed-top,
footer {
  margin-left: 260px;
  transition: margin-left 1s;
}

.page-builder-nav,
.sidebar {
  width: 260px;
}

.mini-layout .row {
  border: 1px dotted #f8f8f8;
  margin: 2px;
  padding: 4px;
}

.mini-layout {
  margin: 0;
  padding: 0;
}

.mini-layout .row:hover {
  background: #222;
  cursor: pointer;
}

.mini-layout .col:hover {
  background: #eee;
  cursor: pointer;
}

.section-edit .fa-ellipsis-h {
  margin: 0;
}

.section-edit {
  margin: 0 12px 0 0;
  padding: 0;
}

.btn-util {
  padding: 0 4px;
  margin: 6px 0 0 0;
}

.popover-header {
  background-color: #2f353a !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.header {
  color: #fff;
  padding: 4px 0;
  font-size: 0.6em;
  padding: 0.5rem 1rem;
}

.nav {
  list-style: none;
  color: #fff;
}

.page .nav-link {
  height: 45px;
  width: 258px;
}

.page .nav-link span {
  line-height: 38px;
  margin: 0 0 0 12px;
}

.pb-section {
  width: 100%;
  border: 1px solid transparent;
  color: #fff;
}

.pb-section:hover {
  background: #20a8d8;
}

.nav-title {
  display: block;
  width: 100%;
  padding: 6px;
  margin: 6px 0 0 6px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80%;
  letter-spacing: 3px;
}

.sidebar-minimizer {
  position: absolute;
  flex: 0 0 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.sidebar-minimizer:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12.5px;
  transition: 0.3s;
}

.opened {
  background: #6b5b95;
}

.hide {
  display: none;
}

section {
  border: 1px solid transparent;
}

.section-highlight {
  border: 1px solid #a2b9bc;
}

.row {
  border: 2px solid transparent;
}

.row-highlight {
  box-shadow: 0 0 0 1px yellowgreen !important;
  outline: dashed 1px darkgreen !important;
}

.col-highlight {
  box-shadow: 0 0 0 1px crimson !important;
  outline: dashed 1px darkred !important;
}

.row {
  position: relative;
}

.row-button,
.col-button {
  /* display: none */
}

.row-button {
  position: absolute;
  left: -1px;
  bottom: -29px;
  z-index: 2;
}

.row-button .btn-secondary {
  background-color: yellowgreen;
}

.col-button {
  position: absolute;
  left: -2px;
  top: -34px;
}

.add-module {
  position: absolute;
  left: 115px;
  top: -34px;
}

.edit-module {
  position: absolute;
  right: -1px;
  top: -5px;
  z-index: 2;
}

.module-button {
  right: 32px;
}

.col-button .btn-secondary {
  background-color: crimson;
}

.add-module .btn-secondary {
  background-color: slateblue;
}

.edit-module .btn-secondary {
  background-color: skyblue;
}

.pb .module:hover {
  box-shadow: 0px 0px 0px 1px #777 inset;
}

.pb section .col span,
.pb-section .nav-link,
.dropdown-menu .dropdown-item {
  cursor: pointer;
}

.pb section .col {
  border: 1px dotted transparent;
}

.pb section .col:hover {
  border: 1px dotted #6b5b95;
}

.section-editor-button .btn {
  border-radius: 0;
  border: 0;
}

.block-edit {
  background-color: #a2b9bc;
}

#backgroundColorPreview {
  width: 100px;
  height: 30px;
  border: 1px solid #fff;
}

#editor.ace_editor {
  width: 255px;
  height: calc(100vh - 180px);
}

.editor-wrapper {
  background: green;
  height: 100%;
}

.section-wrapper {
  margin: 0 0 20px;
}

.btn-group.btn-section {
  width: 100%;
  margin: 0 1rem;
}

.module {
  position: relative;
}

.empty-column {
  font-size: 0.7em;
  color: #777;
  display: block;
  text-align: center;
  margin: 10px 0;
}

/* sortable */

.sortable-chosen {
  background: #fff;
}

.sortable-ghost {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient-sortable-ghost 1s ease infinite;
}

@keyframes gradient-sortable-ghost {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Side Panel */

.pb-side-panel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50vw;
  /* height: 100vh; */
  z-index: 1030;
  background: #fff;
  border-left: 1px solid #666;
}

.pb-side-panel .content {
  padding: 20px;
}

.pb-side-panel h5 {
  background: #666;
  color: #fff;
  padding: 20px 20px 0 20px;
  height: 69px;
}

.pb-side-panel.close {
  display: none;
  /* width: 0vw;
  opacity: 0;
  transition: width .5s, visibility 1s; */
}

.pb-side-panel .handle {
  position: relative;
}

.pb-side-panel .handle span {
  font-size: 40px;
  background: #fff;
  border: 1px solid #666;
  border-right: 1px solid #fff;
  position: absolute;
  left: -60px;
  top: 68px;
  width: 60px;
  padding-left: 16px;
  cursor: pointer;
}

.pb-side-panel-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1020;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.pb-side-panel-modal-backdrop.close {
  display: none;
}

.ck-balloon-panel {
  z-index: 1040 !important;
}

.content .nav-tabs {
  margin: 0 0 20px;
}

.sidebar-expander {
  position: absolute;
  top: calc(50% - 30px);
  left: -60px;
  width: 60px;
  height: 60px;
  background-image: url("/assets/img/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  background-color: transparent;
  border: 0;
  transition: left 2s;
  z-index: 999;
}

.sidebar-expander:focus {
  outline: 0;
}

/* .pb-side-panel.close .handle span{
  display: none;
} */

.delete-data-preview {
  margin: 30px 0 0;
  width: 100%;
}

.delete-data-preview textarea {
  width: 100%;
  height: 400px;
}

.page-template-region {
  display: none;
  border: 6px dashed grey;
  text-align: center;
  line-height: 40px;
}

.pb .page-template-region {
  display: block;
}

.formio-component-modal-wrapper .open-modal-button {
  max-height: 60vh;
  overflow: auto;
}

.pb-wrapper {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pb-wrapper a {
  color: #fff;
}

.pb-wrapper .nav-tabs .nav-link {
  padding-top: 8px;
  padding-bottom: 8px;
}

.open-admin.row {
  margin: 15px 0 8px 0;
}

.add-module-dropdown{
  -moz-column-count: 2;
  /* Firefox */
  -webkit-column-count: 2;
  /* Safari and Chrome */
  column-count: 2;
  /* width: 500px; */
  height:640px;
}