// Shared third-party styling components
@import "angled-edges/angled-edges";
@import "@fortawesome/fontawesome-free/scss/variables";
// @import "pe7-icon/dist/dist/pe-icon-7-stroke.css";

// Shared variables
@import "import/bootstrap-overwrite";
@import "import/variables";
