.alert-message{
    position: absolute;
    bottom: 70px;
    right:20px;
    background-color: #4dbd74;
    padding: 40px;
    border-radius: 4px;
    
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
            
            /* add tranistion effect */
}