.media-list img{
    height: 100px;
    margin: 10px 10px 0 0;
}

.dropzone {    
    text-align: center;    
    background:#f8f8f8;    
    padding: 40px;
    margin: 10px 0 30px 0;
    border-radius: 4px;
    border: 4px dashed #eee;
    text-transform: uppercase;
  }   

  .img-thumbnail{
      min-width: 100px;
  }